Repository novasamatech/parity-signer, pull requests merged in 2022-10, with the labels that each got.

#1328 feat: iOS Connectivity Modals
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Modals/Errors/ErrorBottomModal.swift
  ios/NativeSigner/Modals/Errors/ErrorBottomModalViewModel.swift
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/export_private_key_small.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/export_private_key_small.imageset/export_private_key_small.svg
  ios/NativeSigner/Resources/Assets.xcassets/errors/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/errors/wifi-on.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/errors/wifi-on.imageset/wifi-on.svg
  ios/NativeSigner/Resources/Assets.xcassets/errors/wifi-was-on.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/errors/wifi-was-on.imageset/wifi-was-on.svg
  ios/NativeSigner/Resources/Assets.xcassets/public_key_modal/private_key_icon.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/public_key_modal/private_key_icon.imageset/private_key_icon.svg
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/KeyDetails/Actions/ResetConnectivtyWarningsAction.swift
  ios/NativeSigner/Screens/KeyDetails/KeyDetailsView.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
Labels: UI, UX, ios

#1333 chore: ios: Refactor use of shared object to properly facilitate EnvironmentObject
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Cards/AddressCard.swift
  ios/NativeSigner/Cards/NetworkCard.swift
  ios/NativeSigner/Cards/SeedCardForManager.swift
  ios/NativeSigner/Cards/SeedKeyCard.swift
  ios/NativeSigner/Components/Canary.swift
  ios/NativeSigner/Components/Deprecated/Header.swift
  ios/NativeSigner/Components/Deprecated/NavbarShield.swift
  ios/NativeSigner/Components/NavigationBarView.swift
  ios/NativeSigner/Components/TabBar/TabBarView.swift
  ios/NativeSigner/Core/Connectivity/ConnectivityMediator.swift
  ios/NativeSigner/Core/Connectivity/ConnectivityMonitoringAdapter.swift
  ios/NativeSigner/Core/Keychain/SeedsMediator.swift
  ios/NativeSigner/Modals/AddKeySet/AddKeySetModal.swift
  ios/NativeSigner/Modals/ExportPrivateKey/ExportPrivateKeyModal.swift
  ios/NativeSigner/Modals/KeySet/KeyDetailsActionsModal.swift
  ios/NativeSigner/Modals/KeySet/PublicKeyActionsModal.swift
  ios/NativeSigner/Modals/ModalSelector.swift
  ios/NativeSigner/Models/RustNative.swift
  ios/NativeSigner/NativeSignerApp.swift
  ios/NativeSigner/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/NativeSigner/Screens/Containers/HeaderViewContainer.swift
  ios/NativeSigner/Screens/Containers/MainScreenContainer.swift
  ios/NativeSigner/Screens/Containers/UnauthenticatedScreenContainer.swift
  ios/NativeSigner/Screens/HistoryScreen.swift
  ios/NativeSigner/Screens/KeyDetails/Actions/ForgetKeySetAction.swift
  ios/NativeSigner/Screens/KeyDetails/Actions/ForgetSingleKeyAction.swift
  ios/NativeSigner/Screens/KeyDetails/KeyDetailsView.swift
  ios/NativeSigner/Screens/KeySetsList/KeySetList.swift
  ios/NativeSigner/Screens/LandingView.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
  ios/NativeSigner/Screens/SelectorViews/AlertSelectorView.swift
  ios/NativeSigner/Screens/SelectorViews/ModalSelectorView.swift
  ios/NativeSigner/Screens/SelectorViews/ScreenSelectorView.swift
Labels: ios

#1334 feat: iOS: Replace system alert with modals dedicated for connectivity warnings
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Alerts/AlertSelector.swift
  ios/NativeSigner/Alerts/ConfirmAlert.swift
  ios/NativeSigner/Alerts/ShieldAlertComponent.swift
  ios/NativeSigner/Components/Deprecated/Header.swift
  ios/NativeSigner/Components/Deprecated/NavbarShield.swift
  ios/NativeSigner/Modals/Errors/ErrorBottomModalViewModel.swift
  ios/NativeSigner/Models/RustNative.swift
  ios/NativeSigner/Screens/SelectorViews/AlertSelectorView.swift
Labels: UI, ios

#1338 feat: ios: replace obsolete custom system alerts with new bottom sheet
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Alerts/AlertSelector.swift
  ios/NativeSigner/Alerts/ErrorAlert.swift
  ios/NativeSigner/Components/Errors/GenericError.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Modals/Errors/ErrorBottomModal.swift
  ios/NativeSigner/Modals/Errors/ErrorBottomModalViewModel.swift
  ios/NativeSigner/Previews/PreviewData+Rust.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/NativeSigner/Screens/SelectorViews/AlertSelectorView.swift
Labels: UI, UX, ios

#1335 feat: Android export private key ext
  android/src/main/java/io/parity/signer/MainActivity.kt
  android/src/main/java/io/parity/signer/bottomsheets/KeyDetailsAction.kt
  android/src/main/java/io/parity/signer/bottomsheets/KeyDetailsMenuAction.kt
  android/src/main/java/io/parity/signer/bottomsheets/exportprivatekey/ConfirmExportPrivateKeyAction.kt
  android/src/main/java/io/parity/signer/bottomsheets/exportprivatekey/PrivateKeyExportBottomSheet.kt
  android/src/main/java/io/parity/signer/components2/base/BottomSheetComponents.kt
  android/src/main/java/io/parity/signer/components2/base/CloseIcon.kt
  android/src/main/java/io/parity/signer/models/Navigation.kt
  android/src/main/java/io/parity/signer/models/SignerDataModel.kt
  android/src/main/java/io/parity/signer/ui/BottomSheet.kt
  android/src/main/java/io/parity/signer/ui/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/SignerSelectorsLegacy.kt
  android/src/main/java/io/parity/signer/ui/theme/Color.kt
  android/src/main/java/io/parity/signer/ui/theme/Typeface.kt
  android/src/main/res/drawable/ic_backspace_28.xml
  android/src/main/res/drawable/ic_blockchain_28.xml
  android/src/main/res/drawable/ic_networks_28.xml
  android/src/main/res/drawable/ic_private_key_28.xml
  android/src/main/res/drawable/private_key_64.xml
  android/src/main/res/values/dimens.xml
  android/src/main/res/values/strings.xml
Labels: UI, android

#1356 feat: ios: error on Rust navigation errors
  ios/NativeSigner/Core/Adapters/BackendNavigationAdapter.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSignerTests/Core/Navigation/NavigationCoordinatorTests.swift
Labels: UI, UX, ios

#1367 chore: android key set screen redesigned
  android/src/main/java/io/parity/signer/MainActivity.kt
  android/src/main/java/io/parity/signer/bottomsheets/KeyDetailsMenuAction.kt
  android/src/main/java/io/parity/signer/bottomsheets/exportprivatekey/ConfirmExportPrivateKeyAction.kt
  android/src/main/java/io/parity/signer/bottomsheets/exportprivatekey/PrivateKeyExportBottomSheet.kt
  android/src/main/java/io/parity/signer/components/BottomBar.kt
  android/src/main/java/io/parity/signer/components/IdentIcon.kt
  android/src/main/java/io/parity/signer/components/SeedCard.kt
  android/src/main/java/io/parity/signer/components/base/BottomSheetComponents.kt
  android/src/main/java/io/parity/signer/components/base/BottomSheetHeader.kt
  android/src/main/java/io/parity/signer/components/base/CloseIcon.kt
  android/src/main/java/io/parity/signer/components/base/ScreenBaseComponents.kt
  android/src/main/java/io/parity/signer/components/exposesecurity/ExposedIcon.kt
  android/src/main/java/io/parity/signer/components/items/KeySetItem.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar2.kt
  android/src/main/java/io/parity/signer/components/panels/TopBar.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/CircularCountDownTimer.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/models/Navigation.kt
  android/src/main/java/io/parity/signer/models/NavigationMigrations.kt
  android/src/main/java/io/parity/signer/screens/KeyManager.kt
  android/src/main/java/io/parity/signer/screens/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/KeySetsScreen.kt
  android/src/main/java/io/parity/signer/screens/SeedManager.kt
  android/src/main/java/io/parity/signer/ui/BottomSheet.kt
  android/src/main/java/io/parity/signer/ui/SignerSelectorsLegacy.kt
  android/src/main/java/io/parity/signer/ui/theme/Color.kt
  android/src/main/java/io/parity/signer/ui/theme/Typeface.kt
  android/src/main/res/drawable/ic_gpp_maybe_32.xml
  android/src/main/res/drawable/ic_key_outlined_24.xml
  android/src/main/res/drawable/ic_qe_code_24.xml
  android/src/main/res/drawable/ic_settings_outlined_24.xml
  android/src/main/res/drawable/ic_view_agenda_outlined_24.xml
  android/src/main/res/drawable/ic_wifi_32.xml
  android/src/main/res/values/dimens.xml
  android/src/main/res/values/plurals.xml
  android/src/main/res/values/strings.xml
Labels: UI, android

#1387 feat: iOS: export multiple keys from Key Details
  android/src/main/java/io/parity/signer/backend/UniffiInteractor.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetsExportService.kt
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Backend/ExportMultipleKeysService.swift
  ios/NativeSigner/Backend/KeyDetailsService.swift
  ios/NativeSigner/Components/Modals/FullScreenRoundedModal.swift
  ios/NativeSigner/Core/Data/AppState.swift
  ios/NativeSigner/Modals/Alerts/HorizontalActionsBottomModal.swift
  ios/NativeSigner/Modals/Backup/BackupModal.swift
  ios/NativeSigner/Modals/Errors/ErrorBottomModal.swift
  ios/NativeSigner/Modals/ExportKeys/ExportMultipleKeysModal+ViewModel.swift
  ios/NativeSigner/Modals/ExportKeys/ExportMultipleKeysModal.swift
  ios/NativeSigner/Modals/ExportPrivateKey/ExportPrivateKeyWarningModal.swift
  ios/NativeSigner/Modals/KeySet/KeyDetailsActionsModal.swift
  ios/NativeSigner/Modals/KeySet/PublicKeyActionsModal.swift
  ios/NativeSigner/NativeSignerApp.swift
  ios/NativeSigner/Previews/PreviewData+Components.swift
  ios/NativeSigner/Previews/PreviewData+Rust.swift
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/checkmark_unchecked.imageset/Contents.json
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/KeyDetails/KeyDetailsView.swift
  ios/NativeSigner/Screens/KeyDetails/Models/DerivedKeyRowModel.swift
  ios/NativeSigner/Screens/KeyDetails/Models/KeyDetailsActionModel.swift
  ios/NativeSigner/Screens/KeyDetails/Models/KeyDetailsDataModel.swift
  ios/NativeSigner/Screens/KeyDetails/Models/KeyDetailsViewModel.swift
  ios/NativeSigner/Screens/KeyDetails/Models/MKeyAndNetworkCard+PathAndNetwork.swift
  ios/NativeSigner/Screens/KeyDetails/Views/DerivedKeyRow.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetails+SelectionOverlay.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/NativeSigner/Screens/KeySetsList/AddKeySetModal.swift
  ios/NativeSigner/Screens/KeySetsList/KeyListMoreMenuModal.swift
  ios/NativeSigner/Screens/KeySetsList/KeySetList.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyViewModel.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
  rust/db_handling/src/identities.rs
  rust/db_handling/src/interface_signer.rs
  rust/definitions/src/navigation.rs
  rust/navigator/src/lib.rs
  rust/navigator/src/tests.rs
  rust/signer/src/lib.rs
  rust/signer/src/signer.udl
Labels: UI, backend, UX, ios
