Repository novasamatech/parity-signer, pull requests merged in 2022-09, with the labels that each got.

#1252 fix: don't trigger second authorization request when checking for seed collision
  ios/NativeSigner/Core/Keychain/KeychainAccessAdapter.swift
Labels: ios

#1250 fix: Removing requirement of biometric
  android/app/src/main/java/io/parity/signer/components/Authentication.kt
  android/app/src/main/java/io/parity/signer/models/SignerDataModel.kt
Labels: android

#1259 style: components used in Export Private Key
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Components/Buttons/ActionButton.swift
  ios/NativeSigner/Components/Buttons/CloseModalButton.swift
  ios/NativeSigner/Components/CircularProgressView.swift
  ios/NativeSigner/Components/Modals/FullScreenRoundedModal.swift
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Modals/AddKeySet/AddKeySetModal.swift
  ios/NativeSigner/Previews/PreviewData.swift
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/xmark-button.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/xmark-button.imageset/xmark-button.svg
Labels: UI, ios

#1270 style: add remove key confirmation bottom sheet
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Components/Buttons/ActionButton.swift
  ios/NativeSigner/Components/Buttons/EmptyButton.swift
  ios/NativeSigner/Components/Buttons/PrimaryButton.swift
  ios/NativeSigner/Components/Buttons/SecondaryButton.swift
  ios/NativeSigner/Design/Animations.swift
  ios/NativeSigner/Modals/AddKeySet/AddKeySetModal.swift
  ios/NativeSigner/Modals/Alerts/HorizontalActionsBottomModal.swift
  ios/NativeSigner/Modals/KeySet/KeyDetailsActionsModal.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/KeyDetails/KeyDetailsView.swift
Labels: UI, UX, ios

#1273 feat: Snackbar component and finalised Forget Keys flow
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Components/Animators/TapAndDelayDismissAnimator.swift
  ios/NativeSigner/Components/Modals/Snackbar.swift
  ios/NativeSigner/Components/Overlays/BottoEdgeOverlay.swift
  ios/NativeSigner/Core/Keychain/SeedsMediator.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Core/ServiceLocator.swift
  ios/NativeSigner/Design/AnimationDuration.swift
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Modals/Alerts/HorizontalActionsBottomModal.swift
  ios/NativeSigner/Resources/Assets.xcassets/fill_12_solid.colorset/Contents.json
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/NativeSigner/Screens/KeyDetails/Actions/ForgetKeySetAction.swift
  ios/NativeSigner/Screens/KeyDetails/KeyDetailsView.swift
  ios/NativeSigner/Screens/KeySetsList/KeySetList.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
Labels: UI, UX, ios

#1275 feat: export private key on iOS
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Backend/ExportPrivateKeyService.swift
  ios/NativeSigner/Components/Header.swift
  ios/NativeSigner/Components/Modals/FullScreenRoundedModal.swift
  ios/NativeSigner/Components/Modals/Snackbar.swift
  ios/NativeSigner/Components/NavbarShield.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Design/Spacing.swift
  ios/NativeSigner/Extensions/String+Utilities.swift
  ios/NativeSigner/Modals/ExportPrivateKey/ExportPrivateKeyModal.swift
  ios/NativeSigner/Modals/ExportPrivateKey/ExportPrivateKeyWarningModal.swift
  ios/NativeSigner/Modals/KeyMenu.swift
  ios/NativeSigner/Modals/ModalSelector.swift
  ios/NativeSigner/Models/Utils.swift
  ios/NativeSigner/Previews/PreviewData.swift
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/chevron_down.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/chevron_down.imageset/chevron_down.svg
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/exclamation_red.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/exclamation_red.imageset/exclamation.svg
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/private_key_icon.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/private_key_icon.imageset/private_key_icon.svg
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Containers/HeaderViewContainer.swift
  ios/NativeSigner/Screens/ExportAddress.swift
  ios/NativeSigner/Screens/SelectorViews/ModalSelectorView.swift
  rust/constants/src/alice_westend_derivation_secret
  rust/constants/src/lib.rs
Labels: UI, UX, ios

#1282 style: iOS fix spacing and icons color for Key Details screen
  ios/NativeSigner/Screens/KeyDetails/DerivedKeyRow.swift
  ios/NativeSigner/Screens/KeyDetails/KeyDetailsView.swift
Labels: UI, ios

#1281 style: iOS redesign for Public Key Details screen
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Backend/ExportPrivateKeyService.swift
  ios/NativeSigner/Components/Buttons/NavbarActionButton.swift
  ios/NativeSigner/Components/Deprecated/AddressCardControls.swift
  ios/NativeSigner/Components/Deprecated/Buttons.swift
  ios/NativeSigner/Components/Deprecated/CameraPreview.swift
  ios/NativeSigner/Components/Deprecated/CameraView.swift
  ios/NativeSigner/Components/Deprecated/DocumentModal.swift
  ios/NativeSigner/Components/Deprecated/Header.swift
  ios/NativeSigner/Components/Deprecated/Headers.swift
  ios/NativeSigner/Components/Deprecated/HistoryCard.swift
  ios/NativeSigner/Components/Deprecated/Identicon.swift
  ios/NativeSigner/Components/Deprecated/InstructionsSquare.swift
  ios/NativeSigner/Components/Deprecated/MenuElements.swift
  ios/NativeSigner/Components/Deprecated/MultiselectBottomControl.swift
  ios/NativeSigner/Components/Deprecated/NavbarShield.swift
  ios/NativeSigner/Components/Deprecated/NetworkLogo.swift
  ios/NativeSigner/Components/Deprecated/SearchKeys.swift
  ios/NativeSigner/Components/Deprecated/SmallButton.swift
  ios/NativeSigner/Components/Deprecated/StyleModiefiers.swift
  ios/NativeSigner/Components/Deprecated/TransactionBlock.swift
  ios/NativeSigner/Components/NavigationBarView.swift
  ios/NativeSigner/Components/QRCode/QRCodeAddressFooterView.swift
  ios/NativeSigner/Components/QRCode/QRCodeContainerView.swift
  ios/NativeSigner/Components/QRCode/QRCodeRootFooterView.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Extensions/Models/MKeyDetails+Helpers.swift
  ios/NativeSigner/Modals/ExportPrivateKey/ExportPrivateKeyModal.swift
  ios/NativeSigner/Previews/PreviewData+Components.swift
  ios/NativeSigner/Previews/PreviewData.swift
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/chevron_down.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/exclamation_red.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/private_key_icon.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/switches.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/xmark-button.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/key_set/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/key_set/backup_key.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/key_set/backup_key.imageset/backup_key.svg
  ios/NativeSigner/Resources/Assets.xcassets/key_set/delete.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/key_set/delete.imageset/delete.svg
  ios/NativeSigner/Resources/Assets.xcassets/key_set/derive_key.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/key_set/derive_key.imageset/derive_key.svg
  ios/NativeSigner/Resources/Assets.xcassets/key_set/select_unselected.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/key_set/select_unselected.imageset/select_unselected.svg
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/ExportAddress.swift
  ios/NativeSigner/Screens/KeyDetails/KeyDetailsView.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
Labels: UI, UX, ios

#1289 style: fix iOS 16 background issue
  .github/workflows/actions.yml
  .github/workflows/testflight.yml
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Components/Modifiers/HiddenScrollContainerModifier.swift
  ios/NativeSigner/Screens/KeyDetails/KeyDetailsView.swift
  ios/NativeSigner/Screens/KeySetsList/KeySetList.swift
Labels: UI, ios

#1293 style: redesign Public Key modal and fix presentation animations for multiple chained modals
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Backend/ExportPrivateKeyService.swift
  ios/NativeSigner/Core/ServiceLocator.swift
  ios/NativeSigner/Design/Spacing.swift
  ios/NativeSigner/Modals/Alerts/HorizontalActionsBottomModal.swift
  ios/NativeSigner/Modals/KeyMenu.swift
  ios/NativeSigner/Modals/KeySet/KeyDetailsActionsModal.swift
  ios/NativeSigner/Modals/KeySet/PublicKeyActionsModal.swift
  ios/NativeSigner/Modals/ModalSelector.swift
  ios/NativeSigner/Models/Address.swift
  ios/NativeSigner/Models/RustNative.swift
  ios/NativeSigner/Resources/Assets.xcassets/change_network.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/change_network.imageset/change_network.svg
  ios/NativeSigner/Resources/Assets.xcassets/export_private_key_small.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/export_private_key_small.imageset/export_private_key_small.svg
  ios/NativeSigner/Resources/Assets.xcassets/other_networks.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/other_networks.imageset/other_networks.svg
  ios/NativeSigner/Resources/Assets.xcassets/public_key_modal/Contents.json
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/NativeSigner/Screens/Containers/UnauthenticatedScreenContainer.swift
  ios/NativeSigner/Screens/KeyDetails/Actions/ForgetKeySetAction.swift
  ios/NativeSigner/Screens/KeyDetails/Actions/ForgetSingleKeyAction.swift
  ios/NativeSigner/Screens/KeyDetails/KeyDetailsView.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyViewModel.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
  ios/NativeSigner/Screens/SelectorViews/ModalSelectorView.swift
  ios/NativeSigner/Screens/SelectorViews/ScreenSelectorView.swift
Labels: UI, UX, ios

#1296 chore: update Fastlane for Xcode 14
  Gemfile
  Gemfile.lock
  ios/fastlane/Fastfile
Labels: ios

#1297 chore: remove TF version from fastlane to avoid selecting beta build
  Gemfile
  Gemfile.lock
  ios/fastlane/Fastfile
Labels: CI, ios

#1299 feat: iOS empty state for Key Set List
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/KeySetsList/KeySetList.swift
Labels: UI, ios

#1305 style: seed phrase view and new snackbar style
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Components/CircularProgressView.swift
  ios/NativeSigner/Components/Modals/Snackbar.swift
  ios/NativeSigner/Components/SeedPhrase/SeedPhraseView.swift
  ios/NativeSigner/Design/Fontstyle.swift
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Modals/ExportPrivateKey/ExportPrivateKeyModal.swift
  ios/NativeSigner/Previews/PreviewData+Components.swift
  ios/NativeSigner/Resources/Assets.xcassets/fill_6_solid.colorset/Contents.json
  ios/NativeSigner/Resources/Fonts/RobotoMono-Bold.ttf
Labels: UI, UX, ios

#1306 fix: android db script
  android/generate_database.sh
Labels: android

#1303 feat: show rust-caused error message in android logs when app is cras…
  android/src/main/AndroidManifest.xml
  android/src/main/java/io/parity/signer/SignerApp.kt
Labels: testing, android

#1308 chore: don't force design review for non UI
  CODEOWNERS
Labels: UX, android

#1310 style: ios: Backup modal
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Backend/PrivateKeyQRCodeService.swift
  ios/NativeSigner/Components/Animators/TapAndDelayDismissAnimator.swift
  ios/NativeSigner/Components/Modals/FullScreenRoundedModal.swift
  ios/NativeSigner/Components/Modals/Snackbar.swift
  ios/NativeSigner/Components/Rows/DerivedKeyOverviewRow.swift
  ios/NativeSigner/Core/Keychain/SeedsMediator.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Design/Spacing.swift
  ios/NativeSigner/Modals/Backup.swift
  ios/NativeSigner/Modals/Backup/BackupModal.swift
  ios/NativeSigner/Modals/ExportPrivateKey/ExportPrivateKeyModal.swift
  ios/NativeSigner/Modals/KeySet/KeyDetailsActionsModal.swift
  ios/NativeSigner/Modals/KeySet/PublicKeyActionsModal.swift
  ios/NativeSigner/Modals/ModalSelector.swift
  ios/NativeSigner/Previews/PreviewData+Components.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/KeyDetails/DerivedKeyRow.swift
  ios/NativeSigner/Screens/KeyDetails/KeyDetailsView.swift
  ios/NativeSigner/Screens/KeyDetails/Models/KeyDetailsViewModel.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
  ios/NativeSigner/Screens/SelectorViews/ModalSelectorView.swift
Labels: UI, UX, ios

#1312 fix: ios: crash on export private key
  ios/NativeSigner/Backend/ExportPrivateKeyService.swift
  ios/NativeSigner/Core/Keychain/SeedsMediator.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
Labels: UI, UX, ios

#1313 fix: ios: add alert for backup modal if network was connected
  ios/NativeSigner/Core/Keychain/SeedsMediator.swift
  ios/NativeSigner/Screens/KeyDetails/KeyDetailsView.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
Labels: UI, UX, ios

#1314 chore: Updated key component
  android/src/main/java/io/parity/signer/bottomsheets/PrivateKeyExportBottomSheet.kt
  android/src/main/java/io/parity/signer/bottomsheets/SufficientCryptoReady.kt
  android/src/main/java/io/parity/signer/bottomsheets/TypesInfo.kt
  android/src/main/java/io/parity/signer/components/HistoryCardExtended.kt
  android/src/main/java/io/parity/signer/components/IdentIcon.kt
  android/src/main/java/io/parity/signer/components/KeyCardOld.kt
  android/src/main/java/io/parity/signer/components/MetadataCard.kt
  android/src/main/java/io/parity/signer/components/SeedCard.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCAuthor.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCAuthorPlain.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCAuthorPublicKey.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCID.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCMeta.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCTypesInfo.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCVerifier.kt
  android/src/main/java/io/parity/signer/components2/CircularCountDownTimer.kt
  android/src/main/java/io/parity/signer/components2/KeyCard.kt
  android/src/main/java/io/parity/signer/components2/base/CloseIcon.kt
  android/src/main/java/io/parity/signer/screens/NetworkDetails.kt
  android/src/main/java/io/parity/signer/screens/SettingsScreen.kt
  android/src/main/java/io/parity/signer/screens/VerifierScreen.kt
  android/src/main/java/io/parity/signer/ui/theme/Color.kt
  android/src/main/java/io/parity/signer/ui/theme/Typeface.kt
  android/src/main/res/values/strings.xml
Labels: UI, android

#1320 fix: ios: ask for pincode only when needed
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Backend/ExportPrivateKeyService.swift
  ios/NativeSigner/Previews/PreviewData+Rust.swift
  ios/NativeSigner/Screens/KeyDetails/KeyDetailsView.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
Labels: ios
