Repository novasamatech/parity-signer, pull requests merged in 2022-11, with the labels that each got.

#1394 fix: ios: multiple private derived keys with same base path
  ios/NativeSigner/Screens/KeyDetails/Models/DerivedKeyRowModel.swift
  ios/NativeSigner/Screens/KeyDetails/Models/KeyDetailsDataModel.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetailsView.swift
Labels: ios

#1398 fix: ios: fix Network Selection on Key Details broken by refactor for keys export
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetails+SelectionOverlay.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
Labels: ios

#1400 feat: Android seed backup
  android/build.gradle
  android/src/main/java/io/parity/signer/MainActivity.kt
  android/src/main/java/io/parity/signer/bottomsheets/SeedBackup.kt
  android/src/main/java/io/parity/signer/components/Authentication.kt
  android/src/main/java/io/parity/signer/components/ComposeUtils.kt
  android/src/main/java/io/parity/signer/components/HistoryCard.kt
  android/src/main/java/io/parity/signer/components/HistoryCardExtended.kt
  android/src/main/java/io/parity/signer/components/KeyCardOld.kt
  android/src/main/java/io/parity/signer/components/MetadataCard.kt
  android/src/main/java/io/parity/signer/components/SeedCard.kt
  android/src/main/java/io/parity/signer/components/base/BottomSheetComponents.kt
  android/src/main/java/io/parity/signer/components/base/BottomSheetHeader.kt
  android/src/main/java/io/parity/signer/components/items/KeyDerivedItem.kt
  android/src/main/java/io/parity/signer/components/items/KeyDerivedItemMultiselect.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar2.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/CircularCountDownTimer.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/models/Authentication.kt
  android/src/main/java/io/parity/signer/models/SeedExtensions.kt
  android/src/main/java/io/parity/signer/models/SeedOld.kt
  android/src/main/java/io/parity/signer/models/SignerDataModel.kt
  android/src/main/java/io/parity/signer/models/Utils.kt
  android/src/main/java/io/parity/signer/screens/SettingsScreen.kt
  android/src/main/java/io/parity/signer/screens/keydetails/KeyDetailsMenu.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsMenu.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenFull.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/BackupPhraseBox.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/SeedBackup.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/SeedbBackupItems.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetsScreen.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/ui/BottomSheet.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/KeySetDetailsNavSubgraph.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/SignerSelectorsLegacy.kt
  android/src/main/java/io/parity/signer/ui/theme/Color.kt
  android/src/main/java/io/parity/signer/ui/theme/Theme.kt
  android/src/main/res/font/robotomono_bold.ttf
  android/src/main/res/font/robotomono_regular.ttf
  android/src/main/res/values-night/themes.xml
  android/src/main/res/values/strings.xml
Labels: android

#1396 feat: Android export public
  android/src/main/java/io/parity/signer/components/base/ScreenBaseComponents.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/models/ViewModels.kt
  android/src/main/java/io/parity/signer/screens/ExportPublicKey.kt
  android/src/main/java/io/parity/signer/screens/keydetails/KeyDetailsPublicKeyScreen.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/SignerSelectorsLegacy.kt
  android/src/main/res/values/strings.xml
Labels: android

#1407 feat: Android logs redesign
  android/build.gradle
  android/src/main/java/io/parity/signer/bottomsheets/LogMenu.kt
  android/src/main/java/io/parity/signer/components/HistoryCard.kt
  android/src/main/java/io/parity/signer/components/base/BottomSheetDialogs.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/models/DateUtils.kt
  android/src/main/java/io/parity/signer/screens/HistoryScreen.kt
  android/src/main/java/io/parity/signer/screens/keydetails/KeyDetailsMenu.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsMenu.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetsMenu.kt
  android/src/main/java/io/parity/signer/screens/logs/LogModelsExtentions.kt
  android/src/main/java/io/parity/signer/screens/logs/LogsMenu.kt
  android/src/main/java/io/parity/signer/screens/logs/LogsScreen.kt
  android/src/main/java/io/parity/signer/screens/logs/items/LogItem.kt
  android/src/main/java/io/parity/signer/screens/logs/logdetails/HIstoryCardTemplateOld.kt
  android/src/main/java/io/parity/signer/screens/logs/logdetails/HistoryCardExtended.kt
  android/src/main/java/io/parity/signer/screens/logs/logdetails/LogDetails.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/SignerSelectorsLegacy.kt
  android/src/main/res/drawable/ic_add_28.xml
  android/src/main/res/values/strings.xml
  android/src/test/java/io/parity/signer/models/DateUtilsTest.kt
Labels: android

#1409 fix: merge conflict issue between multiple PRs, so no old headers are…
  android/src/main/java/io/parity/signer/MainActivity.kt
Labels: android

#1418 feat: init logging in application creation
  android/src/main/java/io/parity/signer/MainActivity.kt
  android/src/main/java/io/parity/signer/SignerApp.kt
Labels: android

#1420 fix: iOS: Don't send calls to database before initialisation and delete all keychain items on first app run
  ios/NativeSigner/Core/Connectivity/ConnectivityMediator.swift
  ios/NativeSigner/Core/Database/DatabaseMediator.swift
  ios/NativeSigner/Core/Protocols/FileManagingProtocol.swift
  ios/NativeSigner/Models/RustNative.swift
  ios/NativeSignerTests/Core/Database/DatabaseMediatorTests.swift
Labels: UX, ios

#1427 fix: ios: update syntax and rules for updated SwiftLint and SwiftFormat
  ios/.swiftlint.yml
  ios/NativeSigner/Core/Keychain/KeychainQueryProvider.swift
  ios/NativeSigner/Core/Keychain/SeedsMediator.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Core/Protocols/BundleProtocol.swift
  ios/NativeSigner/Core/Protocols/FileManagingProtocol.swift
  ios/NativeSigner/Core/ServiceLocator.swift
  ios/NativeSigner/Modals/Deprecated/SufficientCryptoReady.swift
Labels: ios

#1432 feat: android should init viewmodel only when new activity is created
  android/src/main/java/io/parity/signer/MainActivity.kt
Labels: android

#1433 feat: android made circle checkbox as per design
  android/src/main/java/io/parity/signer/components/base/Checkbox.kt
  android/src/main/java/io/parity/signer/components/base/CloseIcon.kt
  android/src/main/java/io/parity/signer/components/items/KeyDerivedItemMultiselect.kt
  android/src/main/java/io/parity/signer/components/items/KeySetItemMultiselect.kt
  android/src/main/res/drawable/circle_checked_24.xml
  android/src/main/res/drawable/circle_unckecked_24.xml
  android/src/main/res/values/strings.xml
Labels: android

#1430 feat: Android shield alerts
  android/src/main/java/io/parity/signer/MainActivity.kt
  android/src/main/java/io/parity/signer/alerts/ShieldAlert.kt
  android/src/main/java/io/parity/signer/components/base/BottomSheetComponents.kt
  android/src/main/java/io/parity/signer/components/base/BottomSheetDialogs.kt
  android/src/main/java/io/parity/signer/components/base/BottomSheetHeader.kt
  android/src/main/java/io/parity/signer/components/base/ScreenBaseComponents.kt
  android/src/main/java/io/parity/signer/components/exposesecurity/ExposedIcon.kt
  android/src/main/java/io/parity/signer/components/exposesecurity/ExposedNowBottomSheet.kt
  android/src/main/java/io/parity/signer/components/exposesecurity/ExposedPastBottomSheet.kt
  android/src/main/java/io/parity/signer/components/exposesecurity/ShieldAlert.kt
  android/src/main/java/io/parity/signer/components/items/KeyDerivedItem.kt
  android/src/main/java/io/parity/signer/components/items/KeyDerivedItemMultiselect.kt
  android/src/main/java/io/parity/signer/components/items/KeySetItem.kt
  android/src/main/java/io/parity/signer/components/items/KeySetItemMultiselect.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar2.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/CircularCountDownTimer.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCAuthor.kt
  android/src/main/java/io/parity/signer/screens/WaitingScreen.kt
  android/src/main/java/io/parity/signer/screens/keydetails/KeyDetailsMenu.kt
  android/src/main/java/io/parity/signer/screens/keydetails/KeyDetailsPublicKeyScreen.kt
  android/src/main/java/io/parity/signer/screens/keydetails/exportprivatekey/ConfirmExportPrivateKeyMenu.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsMultiselectScreen.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetsMultiselectScreen.kt
  android/src/main/java/io/parity/signer/screens/logs/items/LogItem.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/SignerSelectorsLegacy.kt
  android/src/main/java/io/parity/signer/ui/theme/Theme.kt
  android/src/main/java/io/parity/signer/ui/theme/Typeface.kt
  android/src/main/res/drawable/app_logo.png
  android/src/main/res/drawable/ic_shield_exposed_32.xml
  android/src/main/res/values/strings.xml
Labels: android

#1423 feat: Android camera redesign
  android/build.gradle
  android/src/main/AndroidManifest.xml
  android/src/main/java/io/parity/signer/MainActivity.kt
  android/src/main/java/io/parity/signer/SignerApp.kt
  android/src/main/java/io/parity/signer/backend/UniffiInteractor.kt
  android/src/main/java/io/parity/signer/components/ScanProgressBar.kt
  android/src/main/java/io/parity/signer/components/base/BottomSheetComponents.kt
  android/src/main/java/io/parity/signer/components/base/ScreenBaseComponents.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar.kt
  android/src/main/java/io/parity/signer/components/panels/TopBar.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/dependencygraph/ServiceLocator.kt
  android/src/main/java/io/parity/signer/models/Authentication.kt
  android/src/main/java/io/parity/signer/models/Camera.kt
  android/src/main/java/io/parity/signer/models/FeatureFlags.kt
  android/src/main/java/io/parity/signer/models/Helpers.kt
  android/src/main/java/io/parity/signer/models/Navigation.kt
  android/src/main/java/io/parity/signer/models/SignerDataModel.kt
  android/src/main/java/io/parity/signer/screens/ScanScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/BackupPhraseBox.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/SeedBackup.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportService.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetsExportService.kt
  android/src/main/java/io/parity/signer/screens/scan/CameraTools.kt
  android/src/main/java/io/parity/signer/screens/scan/CameraViewModel.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanProgressBar.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/items/ScanItems.kt
  android/src/main/java/io/parity/signer/screens/scan/old/TransactionPreviewOld.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/MetadataUpdatedScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/TransactionPreviewEdited.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/TransactionSignScreen.kt
  android/src/main/java/io/parity/signer/ui/ScanViewModel.kt
  android/src/main/java/io/parity/signer/ui/helpers/ViewHelpers.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/ScanNavSubgraph.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/SignerSelectorsLegacy.kt
  android/src/main/java/io/parity/signer/ui/theme/Color.kt
  android/src/main/java/io/parity/signer/ui/theme/Typeface.kt
  android/src/main/res/drawable/ic_filter_none.xml
  android/src/main/res/drawable/ic_lamp_28.xml
  android/src/main/res/values/strings.xml
  build.gradle
  rust/navigator/src/navstate.rs
Labels: android

#1435 fix: Android camera scan improvements
  android/src/main/java/io/parity/signer/screens/scan/CameraExtras.kt
  android/src/main/java/io/parity/signer/screens/scan/CameraView.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanProgressBar.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanScreen.kt
  android/src/main/java/io/parity/signer/ui/theme/Color.kt
Labels: android

#1439 feat: Android - updated dependencies
  android/build.gradle
Labels: android

#1443 feat: Android camera snackbar colors update
  android/src/main/java/io/parity/signer/screens/scan/ScanProgressBar.kt
Labels: android

#1446 feat: Android settings
  android/src/main/java/io/parity/signer/components/SettingsCardTemplate.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar2.kt
  android/src/main/java/io/parity/signer/screens/SettingsScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/SettingsScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/VerifierScreen.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/SignerSelectorsLegacy.kt
  android/src/main/res/drawable/ic_settings_filled_24.xml
  android/src/main/res/drawable/ic_view_agenda_filled_24.xml
  android/src/main/res/values/strings.xml
Labels: android
