Repository novasamatech/parity-signer, pull requests merged in 2022-08, with the labels that each got.

#1192 chore: ios setup development scheme
  README.md
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner.xcodeproj/xcshareddata/xcschemes/NativeSigner-Dev.xcscheme
  ios/NativeSigner/Core/Connectivity/ConnectivityMonitoringAdapter.swift
  ios/NativeSigner/Core/Connectivity/ConnectivityMonitoringAssembler.swift
  ios/NativeSigner/Core/Protocols/PathMonitorProtocol.swift
  ios/NativeSigner/Core/Protocols/ProcessInfoProtocol.swift
  ios/NativeSigner/Core/Runtime/RuntimePropertiesProvider.swift
  ios/NativeSigner/Models/RustNative.swift
  ios/NativeSignerTests/Core/Connectivity/ConnectivityMonitoringAdapterTests.swift
  ios/NativeSignerTests/Core/Connectivity/ConnectivityMonitoringAssemblerTests.swift
  ios/NativeSignerTests/Core/Runtime/RuntimePropertiesProviderTests.swift
  ios/NativeSignerTests/NativeSignerTests-Bridging-Header.h
  ios/NativeSignerTests/NativeSignerTests.swift
Labels: ios

#1197 chore: Extend SwiftLint rules
  ios/.swiftlint.yml
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Cards/HistoryCardExtended.swift
  ios/NativeSigner/Cards/HistoryCardTemplate.swift
  ios/NativeSigner/Cards/SeedKeyCard.swift
  ios/NativeSigner/Cards/TransactionCards/TCCall.swift
  ios/NativeSigner/Cards/TransactionCards/TCEnumVariantName.swift
  ios/NativeSigner/Cards/TransactionCards/TCFieldName.swift
  ios/NativeSigner/Cards/TransactionCards/TCFieldNumber.swift
  ios/NativeSigner/Components/HistoryCard.swift
  ios/NativeSigner/Components/MenuElements.swift
  ios/NativeSigner/Components/SearchKeys.swift
  ios/NativeSigner/Modals/Backup.swift
  ios/NativeSigner/Modals/EnterPassword.swift
  ios/NativeSigner/Models/CameraService.swift
  ios/NativeSigner/Models/Documents.swift
  ios/NativeSigner/Models/Navigator.swift
  ios/NativeSigner/Models/RustNative.swift
  ios/NativeSigner/Models/Seeds.swift
  ios/NativeSigner/Screens/KeyManager.swift
  ios/NativeSigner/Screens/MainScreenContainer.swift
  ios/NativeSigner/Screens/NewSeedScreen.swift
  ios/NativeSigner/Screens/RecoverSeedName.swift
  ios/NativeSigner/Screens/SettingsScreen.swift
  ios/NativeSigner/Screens/SignSufficientCrypto.swift
  ios/NativeSignerUITests/NativeSignerUITests.swift
Labels: ios

#1198 refactor: extract database operations from SignerDataModel and reduce code smell within SignerDataModel
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Cards/TransactionCards/TCTip.swift
  ios/NativeSigner/Components/Identicon.swift
  ios/NativeSigner/Core/Database/DatabaseMediator.swift
  ios/NativeSigner/Core/Protocols/BundleProtocol.swift
  ios/NativeSigner/Core/Protocols/FileManagingProtocol.swift
  ios/NativeSigner/Extensions/ErrorDisplayed+Show.swift
  ios/NativeSigner/Models/RustNative.swift
  ios/NativeSignerTests/Core/Database/DatabaseMediatorTests.swift
  ios/NativeSignerTests/Helpers/ErrorMock.swift
  ios/NativeSignerTests/Helpers/URL+Generate.swift
  ios/NativeSignerUITests/Info.plist
Labels: ios

#1204 refactor: remove redundancy from HistoryCardExtended
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Cards/HistoryCardExtended.swift
  ios/NativeSigner/Cards/HistoryCardTemplate.swift
  ios/NativeSigner/Cards/TransactionCards/TCNewSpecs.swift
  ios/NativeSigner/Cards/TransactionCards/TCTXSpecPlain.swift
  ios/NativeSigner/Components/HistoryCard.swift
  ios/NativeSigner/Extensions/UInt8+Formatting.swift
  ios/NativeSigner/Screens/NetworkDetails.swift
Labels: ios

#1212 chore: bump chrono
  rust/Cargo.lock
Labels: backend

#1214 ci: update Rust Cache step in all GA actions
  .github/workflows/actions.yml
  .github/workflows/android-app.yml
  .github/workflows/docs.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/rust-test-android.yml
  .github/workflows/rust-test-ios.yml
Labels: CI

#1213 ci: iOS unit tests GA and removal of redundant actions
  .github/workflows/actions.yml
  .github/workflows/ios-swiftlint.yml
  ios/NativeSigner.xcodeproj/project.pbxproj
Labels: CI, ios

#1217 chore: make clippy happy on new stable
  rust/definitions/src/crypto.rs
  rust/definitions/src/history.rs
  rust/definitions/src/keyring.rs
  rust/definitions/src/metadata.rs
  rust/definitions/src/navigation.rs
  rust/definitions/src/network_specs.rs
  rust/definitions/src/types.rs
  rust/definitions/src/users.rs
  rust/generate_message/src/error.rs
  rust/navigator/src/actions.rs
  rust/navigator/src/alerts.rs
  rust/navigator/src/modals.rs
  rust/parser/src/decoding_sci.rs
  rust/parser/src/decoding_sci_ext.rs
  rust/qr_reader_phone/src/lib.rs
  rust/qr_reader_phone/src/process_payload.rs
  rust/qrcode_rtx/src/lib.rs
Labels: backend

#1222 chore: introduce PR template
  pull_request_template.md
Labels: documentation

#1223 style: Refactored and UI updated tab bar
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Components/Footer.swift
  ios/NativeSigner/Components/TabBar/Builders/TabViewModelBuilder.swift
  ios/NativeSigner/Components/TabBar/TabBarView.swift
  ios/NativeSigner/Components/TabBar/ViewModels/Tab.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Resources/Assets.xcassets/tabbar/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/tabbar/tabbar_keys.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/tabbar/tabbar_keys.imageset/tabbar_keys.svg
  ios/NativeSigner/Resources/Assets.xcassets/tabbar/tabbar_logs.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/tabbar/tabbar_logs.imageset/tabbar_logs.svg
  ios/NativeSigner/Resources/Assets.xcassets/tabbar/tabbar_logs_selected.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/tabbar/tabbar_logs_selected.imageset/tabbar_logs_selected.svg
  ios/NativeSigner/Resources/Assets.xcassets/tabbar/tabbar_scanner.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/tabbar/tabbar_scanner.imageset/tabbar_scanner.svg
  ios/NativeSigner/Resources/Assets.xcassets/tabbar/tabbar_settings.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/tabbar/tabbar_settings.imageset/tabbar_settings.svg
  ios/NativeSigner/Resources/Assets.xcassets/tabbar/tabbar_settings_selected.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/tabbar/tabbar_settings_selected.imageset/tabbar_settings_selected.svg
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/NativeSignerTests/Components/TabBar/TabTests.swift
  ios/NativeSignerTests/Components/TabBar/TabViewModelBuilderTests.swift
  ios/NativeSignerTests/Core/Navigation/NavigationCoordinatorTests.swift
Labels: UI, ios

#1225 docs: update iOS build docs to account for tooling
  README.md
Labels: documentation

#1218 ci: Fastlane and Testflight setup for GA workflow
  .github/workflows/testflight.yml
  .gitignore
  Gemfile
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/fastlane/Appfile
  ios/fastlane/Fastfile
  ios/fastlane/lanes/lane_build.rb
  ios/fastlane/lanes/lane_testflight.rb
  ios/fastlane/lanes/lane_tests.rb
Labels: CI, ios

#1226 chore: add missing Info.plist generation
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Screens/SettingsScreen.swift
  ios/swiftgen.yml
Labels: ios

#1227 chore: bump app version, clear unused plists, add Export Compliance entry
  ios/ExportOptions.plist
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Info.plist
  ios/export.plist
Labels: ios

#1234 chore: fix build issues and Preview Content
  ios/NativeSigner.xcodeproj/project.pbxproj
Labels: ios

#1232 ci: pin gha versions
  .github/workflows/actions.yml
  .github/workflows/android-app.yml
  .github/workflows/docs.yml
  .github/workflows/rust-cargo-deny.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/rust-fmt.yml
  .github/workflows/rust-test-android.yml
  .github/workflows/rust-test-ios.yml
  .github/workflows/semantic.yml
  .github/workflows/testflight.yml
Labels: CI

#1235 chore: add derived_keys_count to SeedNameCard
  rust/db_handling/src/interface_signer.rs
  rust/db_handling/tests/tests.rs
  rust/definitions/src/navigation.rs
  rust/navigator/src/tests.rs
  rust/signer/src/signer.udl
Labels: backend

#1231 style: Key sets screen and button components
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Components/Buttons/ActionButton.swift
  ios/NativeSigner/Components/Buttons/EmptyButton.swift
  ios/NativeSigner/Components/Buttons/PrimaryButton.swift
  ios/NativeSigner/Components/Buttons/SecondaryButton.swift
  ios/NativeSigner/Components/Header.swift
  ios/NativeSigner/Components/NavigationBarView.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Design/CornerRadius.swift
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Design/Padding.swift
  ios/NativeSigner/Modals/ModalSelector.swift
  ios/NativeSigner/Modals/NewSeedMenu.swift
  ios/NativeSigner/Previews/PreviewData.swift
  ios/NativeSigner/Resources/Assets.xcassets/accent_foreground_text.colorset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/accent_foreground_text_disabled.colorset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/accent_pink500_disabled.colorset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/accent_pink500_text_disabled.colorset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/background_solid_system.colorset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/chevron_right.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/chevron_right.imageset/chevron_right.svg
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/NativeSigner/Screens/KeySetsList/KeySetList.swift
  ios/NativeSigner/Screens/KeySetsList/KeySetListViewModelBuilder.swift
  ios/NativeSigner/Screens/KeySetsList/KeySetRow.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
  ios/NativeSigner/Screens/SeedManager.swift
  ios/NativeSigner/Screens/SelectorViews/ScreenSelectorView.swift
  ios/NativeSignerTests/Screens/KeySetList/KeySetListViewModelBuilderTests.swift
Labels: UI, UX, ios

#1194 feat: secret key export, mark exposed keys and progenies
  .spellcheck/signer.dic
  android/app/src/main/java/io/parity/signer/components/HistoryCard.kt
  android/app/src/main/java/io/parity/signer/components/HistoryCardExtended.kt
  android/app/src/main/java/io/parity/signer/components/KeyCardActive.kt
  android/app/src/main/java/io/parity/signer/screens/SignSufficientCrypto.kt
  ios/NativeSigner/Cards/HistoryCardExtended.swift
  ios/NativeSigner/Components/HistoryCard.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/KeyManager.swift
  ios/NativeSigner/Screens/SettingsScreen.swift
  ios/NativeSigner/Screens/SignSufficientCrypto.swift
  rust/constants/src/alice_westend_derivation_secret
  rust/constants/src/lib.rs
  rust/constants/src/test_values.rs
  rust/db_handling/src/error.rs
  rust/db_handling/src/identities.rs
  rust/db_handling/src/interface_signer.rs
  rust/db_handling/tests/tests.rs
  rust/definitions/src/history.rs
  rust/definitions/src/navigation.rs
  rust/definitions/src/users.rs
  rust/navigator/src/navstate.rs
  rust/navigator/src/screens.rs
  rust/navigator/src/tests.rs
  rust/qrcode_rtx/src/lib.rs
  rust/qrcode_static/Cargo.toml
  rust/qrcode_static/src/lib.rs
  rust/signer/src/signer.udl
  rust/transaction_parsing/src/cards.rs
  rust/transaction_parsing/src/tests.rs
  rust/transaction_signing/src/sign_message.rs
  rust/transaction_signing/src/sign_transaction.rs
  rust/transaction_signing/src/tests.rs
Labels: security, backend

#1237 style: updated Add Key Set menu and updated light colors on Key Sets
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Components/Buttons/EmptyButton.swift
  ios/NativeSigner/Components/Buttons/MenuButton.swift
  ios/NativeSigner/Components/Buttons/PrimaryButton.swift
  ios/NativeSigner/Components/Buttons/SecondaryButton.swift
  ios/NativeSigner/Components/Modals/ClearBackgroundView.swift
  ios/NativeSigner/Components/NavigationBarView.swift
  ios/NativeSigner/Design/AnimationDuration.swift
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Modals/AddKeySet/AddKeySetModal.swift
  ios/NativeSigner/Modals/NewSeedMenu.swift
  ios/NativeSigner/Resources/Assets.xcassets/accent_red400.colorset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/menu_icons/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/menu_icons/add.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/menu_icons/add.imageset/add.svg
  ios/NativeSigner/Resources/Assets.xcassets/menu_icons/recover.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/menu_icons/recover.imageset/download_for_offline.svg
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/KeySetsList/KeySetList.swift
  ios/NativeSigner/Screens/KeySetsList/KeySetRow.swift
Labels: UI, UX, ios

#1247 chore: #1155 improve QR reader parser
  docs/src/development/UOS.md
  rust/qr_reader_phone/fuzz/.gitignore
  rust/qr_reader_phone/fuzz/Cargo.lock
  rust/qr_reader_phone/fuzz/Cargo.toml
  rust/qr_reader_phone/fuzz/fuzz_targets/fuzz_parser.rs
  rust/qr_reader_phone/src/lib.rs
  rust/qr_reader_phone/src/parser.rs
  rust/qr_reader_phone/src/process_payload.rs
Labels: security, backend
