Repository novasamatech/parity-signer, pull requests merged in 2022-12, with the labels that each got.

#1444 feat: Android new key set redesign
  android/src/main/java/io/parity/signer/bottomsheets/NewSeedBackup.kt
  android/src/main/java/io/parity/signer/components/CheckboxTemplateOld.kt
  android/src/main/java/io/parity/signer/components/base/BottomSheetComponents.kt
  android/src/main/java/io/parity/signer/components/base/BottomSheetHeader.kt
  android/src/main/java/io/parity/signer/components/base/Buttons.kt
  android/src/main/java/io/parity/signer/components/base/CheckboxWithText.kt
  android/src/main/java/io/parity/signer/components/base/CloseIcon.kt
  android/src/main/java/io/parity/signer/components/base/FrameContainers.kt
  android/src/main/java/io/parity/signer/components/base/Pager.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/CircularCountDownTimer.kt
  android/src/main/java/io/parity/signer/models/SeedOld.kt
  android/src/main/java/io/parity/signer/screens/NewSeedScreen.kt
  android/src/main/java/io/parity/signer/screens/keydetails/KeyDetailsPublicKeyScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/SeedBackup.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysets/NewSeedMenu.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeySetBackupBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeySetBackupScreen.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeySetBackupScreenFull.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeySetMenu.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeySetNameScreen.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/TransactionSignScreen.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/SignerSelectorsLegacy.kt
  android/src/main/java/io/parity/signer/ui/theme/Color.kt
  android/src/main/res/drawable/ic_add_28.xml
  android/src/main/res/drawable/ic_download_offline_28.xml
  android/src/main/res/values/dimens.xml
  android/src/main/res/values/strings.xml
Labels: android

#1449 fix: android default error handler reimplemented -
  android/src/main/java/io/parity/signer/SignerApp.kt
Labels: android

#1451 style: iOS: allow for multiline snackbar
  ios/NativeSigner/Components/Modals/Snackbar.swift
  ios/NativeSigner/Design/Heights.swift
Labels: UI, ios

#1460 feat: make rust to pass clean Strings for transaction messages instead of HEX
  android/src/main/java/io/parity/signer/components/TransactionCard.kt
  ios/NativeSigner/Cards/TransactionCards/TCText.swift
  ios/NativeSigner/Components/Extensions/Text+Markdown.swift
  ios/NativeSigner/Models/AttributedString+Markdown.swift
  ios/NativeSigner/Models/Utils.swift
  ios/NativeSigner/Previews/PreviewData+Rust.swift
  rust/navigator/src/tests.rs
  rust/transaction_parsing/src/cards.rs
  rust/transaction_parsing/src/tests.rs
  rust/transaction_signing/src/tests.rs
Labels: backend, ios, android

#1465 fix: android image preview fix
  android/src/main/java/io/parity/signer/bottomsheets/SelectSeed.kt
  android/src/main/java/io/parity/signer/bottomsheets/SufficientCryptoReady.kt
  android/src/main/java/io/parity/signer/bottomsheets/TypesInfo.kt
  android/src/main/java/io/parity/signer/components/IdentIcon.kt
  android/src/main/java/io/parity/signer/components/KeyCardOld.kt
  android/src/main/java/io/parity/signer/components/MetadataCard.kt
  android/src/main/java/io/parity/signer/components/SeedCard.kt
  android/src/main/java/io/parity/signer/components/items/KeyDerivedItem.kt
  android/src/main/java/io/parity/signer/components/items/KeyDerivedItemMultiselect.kt
  android/src/main/java/io/parity/signer/components/items/KeySetItem.kt
  android/src/main/java/io/parity/signer/components/items/KeySetItemMultiselect.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar2.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCAuthor.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCAuthorPlain.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCAuthorPublicKey.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCID.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCMeta.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCTypesInfo.kt
  android/src/main/java/io/parity/signer/components/transactionCards/TCVerifier.kt
  android/src/main/java/io/parity/signer/models/Utils.kt
  android/src/main/java/io/parity/signer/models/ViewModels.kt
  android/src/main/java/io/parity/signer/screens/NetworkDetails.kt
  android/src/main/java/io/parity/signer/screens/SelectSeedForBackup.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetsScreen.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetsMultiselectScreen.kt
  android/src/main/java/io/parity/signer/screens/logs/logdetails/HistoryCardExtended.kt
  android/src/main/java/io/parity/signer/screens/settings/VerifierScreen.kt
  android/src/main/java/io/parity/signer/ui/helpers/PreviewData.kt
Labels: android

#1456 feat: iOS: Redesigned Logs list initial version
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Cards/HistoryCardExtended.swift
  ios/NativeSigner/Cards/HistoryCardTemplate.swift
  ios/NativeSigner/Components/Buttons/CircleButton.swift
  ios/NativeSigner/Components/Buttons/MenuButton.swift
  ios/NativeSigner/Components/Deprecated/Header.swift
  ios/NativeSigner/Components/Deprecated/HistoryCard.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Helpers/DateFormatter+Utils.swift
  ios/NativeSigner/Modals/Alerts/HorizontalActionsBottomModal.swift
  ios/NativeSigner/Modals/Deprecated/LogMenu.swift
  ios/NativeSigner/Modals/Deprecated/ModalSelector.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/HistoryScreen.swift
  ios/NativeSigner/Screens/KeySetsList/AddKeySetModal.swift
  ios/NativeSigner/Screens/KeySetsList/KeyListMoreMenuModal.swift
  ios/NativeSigner/Screens/Logs/Models/Event+AdditionalValue.swift
  ios/NativeSigner/Screens/Logs/Models/Event+EntryType.swift
  ios/NativeSigner/Screens/Logs/Models/Event+EventTitle.swift
  ios/NativeSigner/Screens/Logs/Models/Event+Value.swift
  ios/NativeSigner/Screens/Logs/Models/Event+isImportant.swift
  ios/NativeSigner/Screens/Logs/Models/LogEntryRenderable.swift
  ios/NativeSigner/Screens/Logs/Views/LogEntryView.swift
  ios/NativeSigner/Screens/Logs/Views/LogsListView.swift
  ios/NativeSigner/Screens/Logs/Views/LogsMoreActionsModal.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
Labels: UI, UX, ios

#1461 fix: show android airplane notification in the center of empty screen
  android/src/main/java/io/parity/signer/MainActivity.kt
Labels: android

#1469 feat: iOS: Settings screen
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Cards/SettingsCardTemplate.swift
  ios/NativeSigner/Cards/TransactionCards/TCVerifier.swift
  ios/NativeSigner/Components/Deprecated/DocumentModal.swift
  ios/NativeSigner/Components/NavigationBarView.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Modals/Alerts/HorizontalActionsBottomModal.swift
  ios/NativeSigner/Models/Documents.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Logs/Views/LogsListView.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
  ios/NativeSigner/Screens/SelectorViews/ScreenSelectorView.swift
  ios/NativeSigner/Screens/Settings/SettingsItem.swift
  ios/NativeSigner/Screens/Settings/SettingsRowView.swift
  ios/NativeSigner/Screens/Settings/SettingsView.swift
  ios/NativeSigner/Screens/Settings/Subviews/VerfierCertificateView.swift
  ios/NativeSigner/Screens/SettingsScreen.swift
  ios/NativeSigner/Screens/VerifierScreen.swift
Labels: UI, UX, ios

#1470 feat: android removed backup keys from settings
  android/src/main/java/io/parity/signer/screens/settings/SettingsScreen.kt
Labels: android

#1472 fix: iOS: fix updated styles for old screens using new design color system
  ios/NativeSigner/Components/Deprecated/Buttons.swift
  ios/NativeSigner/Modals/Deprecated/NewSeedBackupModal.swift
Labels: UI, ios

#1487 feat: seed selector is a default screen according to new design
  rust/navigator/src/navstate.rs
Labels: backend

#1490 feat: iOS: Settings - Manage networks + Copy & UI improvements for modals in Settings
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Modals/Alerts/HorizontalActionsBottomModal.swift
  ios/NativeSigner/Modals/Alerts/VerticalActionsBottomModal.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/ManageNetworks.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
  ios/NativeSigner/Screens/Settings/Subviews/NetworkSelectionSettings.swift
  ios/NativeSigner/Screens/Settings/Subviews/VerfierCertificateView.swift
Labels: UI, UX, ios

#1494 feat: iOS: Network Details
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Cards/TransactionCards/TCMeta.swift
  ios/NativeSigner/Cards/TransactionCards/TCNewSpecs.swift
  ios/NativeSigner/Components/Backgrounds/RoundedContainerBackground.swift
  ios/NativeSigner/Components/Backgrounds/StrokeContainerBackground.swift
  ios/NativeSigner/Components/Backgrounds/VerticalRoundedBackgroundContainer.swift
  ios/NativeSigner/Core/Data/AppState.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Modals/Alerts/HorizontalActionsBottomModal.swift
  ios/NativeSigner/Modals/Deprecated/ManageMetadata.swift
  ios/NativeSigner/Modals/Deprecated/ModalSelector.swift
  ios/NativeSigner/Modals/NetworkSelection/NetworkLogoIcon.swift
  ios/NativeSigner/Resources/Assets.xcassets/accent_pink.colorset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/accent_pink12.colorset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/accent_red.colorset/Contents.json
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/NetworkDetails.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
  ios/NativeSigner/Screens/Settings/Subviews/Networks/NetworkSelectionSettings.swift
  ios/NativeSigner/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
Labels: UI, UX, ios

#1496 feat: iOS: Network Details action menu
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Modals/Alerts/HorizontalActionsBottomModal.swift
  ios/NativeSigner/Modals/Deprecated/ModalSelector.swift
  ios/NativeSigner/Modals/Deprecated/NetworkDetailsMenu.swift
  ios/NativeSigner/Resources/Assets.xcassets/menu_icons/sign_specs.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/menu_icons/sign_specs.imageset/sign_specs.svg
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
  ios/NativeSigner/Screens/Settings/Subviews/Networks/NetworkSettingsDetailsActionModal.swift
Labels: UI, ios

#1499 fix: iOS: bottom safe insets on devices without home button
  ios/NativeSigner/Components/Modals/FullScreenRoundedModal.swift
  ios/NativeSigner/Modals/Alerts/HorizontalActionsBottomModal.swift
  ios/NativeSigner/Modals/Alerts/VerticalActionsBottomModal.swift
  ios/NativeSigner/Modals/Backup/BackupModal.swift
  ios/NativeSigner/Modals/ExportPrivateKey/ExportPrivateKeyModal.swift
Labels: UI, UX, ios

#1497 fix: iOS: Remove unused code
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Cards/MetadataCard.swift
  ios/NativeSigner/Cards/NetworkCard.swift
  ios/NativeSigner/Cards/SeedKeyCard.swift
  ios/NativeSigner/Components/Deprecated/AddressCardControls.swift
  ios/NativeSigner/Components/Deprecated/Header.swift
  ios/NativeSigner/Components/Deprecated/InstructionsSquare.swift
  ios/NativeSigner/Components/Deprecated/MenuElements.swift
  ios/NativeSigner/Components/Deprecated/MultiselectBottomControl.swift
  ios/NativeSigner/Components/Deprecated/NetworkLogo.swift
  ios/NativeSigner/Components/Deprecated/SearchKeys.swift
  ios/NativeSigner/Components/Deprecated/SmallButton.swift
  ios/NativeSigner/Components/Deprecated/StyleModiefiers.swift
  ios/NativeSigner/Components/Image/Identicon.swift
  ios/NativeSigner/Components/SeedPhrase/SeedPhraseView.swift
  ios/NativeSigner/Models/Seeds.swift
  ios/NativeSigner/Modifiers/CornerRadiusModifier.swift
  ios/NativeSigner/Modifiers/HiddenScrollContainerModifier.swift
  ios/NativeSigner/Modifiers/KeyboardAvoidance.swift
  ios/NativeSigner/Modifiers/PrimaryTextField.swift
  ios/NativeSigner/Modifiers/SecuredTextField.swift
  ios/NativeSigner/Screens/KeyManager.swift
Labels: ios

#1498 fix: iOS: Update navigation header height
  ios/NativeSigner/Design/Heights.swift
Labels: UI, ios

#1500 fix: iOS: background on Key Sets on devices with notch
  ios/NativeSigner/Screens/KeySetsList/KeySetList.swift
Labels: UI, ios

#1502 feat: iOS: hide actions for Public Key Details
  ios/NativeSigner/Modals/KeySet/PublicKeyActionsModal.swift
Labels: UI, ios

#1503 feat: iOS: show informative alert when not disconnected completely during onboarding
  ios/NativeSigner/Models/RustNative.swift
  ios/NativeSigner/Screens/LandingView.swift
Labels: UI, UX, ios

#1504 feat: iOS: Hide Derive New Key from action menu
  ios/NativeSigner/Modals/KeySet/KeyDetailsActionsModal.swift
Labels: UX, ios

#1475 feat: iOS: Display all derived keys from all networks on Key Details and allow for network filtering
  android/src/main/java/io/parity/signer/bottomsheets/NetworkSelector.kt
  android/src/main/java/io/parity/signer/components/KeyCardActive.kt
  android/src/main/java/io/parity/signer/components/KeyCardOld.kt
  android/src/main/java/io/parity/signer/components/KeySelector.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/models/Navigation.kt
  android/src/main/java/io/parity/signer/models/ViewModels.kt
  android/src/main/java/io/parity/signer/screens/KeyDetailsMulti.kt
  android/src/main/java/io/parity/signer/screens/SignSufficientCrypto.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/SeedBackup.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/SeedbBackupItems.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportScreenFull.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsMultiselectScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/SeedKeyDetails.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/KeySetDetailsNavSubgraph.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/SignerSelectorsLegacy.kt
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Backend/PrivateKeyQRCodeService.swift
  ios/NativeSigner/Cards/AddressCard.swift
  ios/NativeSigner/Components/QRCode/QRCodeAddressFooterView.swift
  ios/NativeSigner/Components/QRCode/QRCodeRootFooterView.swift
  ios/NativeSigner/Components/Rows/DerivedKeyOverviewRow.swift
  ios/NativeSigner/Modals/Backup/BackupModal.swift
  ios/NativeSigner/Modals/NetworkSelection/NetworkSelectionModal.swift
  ios/NativeSigner/Previews/PreviewData+Components.swift
  ios/NativeSigner/Previews/PreviewData+Rust.swift
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/switches.imageset/switches.svg
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/EnterPasswordModal.swift
  ios/NativeSigner/Screens/KeyDetails/Models/DerivedKeyExportModel.swift
  ios/NativeSigner/Screens/KeyDetails/Models/KeyDetailsDataModel.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetails+SelectionOverlay.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/NativeSigner/Screens/KeyDetails/Views/RootKeyDetailsModal.swift
  ios/NativeSigner/Screens/KeyDetailsMulti.swift
  ios/NativeSigner/Screens/KeyManager.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyViewModel.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
  ios/NativeSigner/Screens/SignSufficientCrypto.swift
  rust/Cargo.lock
  rust/db_handling/src/identities.rs
  rust/db_handling/src/interface_signer.rs
  rust/db_handling/tests/tests.rs
  rust/definitions/src/navigation.rs
  rust/navigator/src/actions.rs
  rust/navigator/src/navstate.rs
  rust/navigator/src/screens.rs
  rust/navigator/src/tests.rs
  rust/signer/Cargo.toml
  rust/signer/src/lib.rs
  rust/signer/src/signer.udl
  rust/transaction_parsing/src/cards.rs
  rust/transaction_parsing/src/tests.rs
  rust/transaction_signing/src/tests.rs
Labels: UI, UX, ios
