Repository novasamatech/parity-signer, pull requests merged in 2023-08, with the labels that each got.

#1987 feat: ios: confirmation dialog when importing dd keys
  ios/PolkadotVault/Modals/Alerts/VerticalActionsBottomModal.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/Scan/DynamicDerivations/AddDerivedKeysView.swift
Labels: ios

#2006 feat: Android export UI new flow with bottom sheets
  android/src/main/java/io/parity/signer/components/base/Checkbox.kt
  android/src/main/java/io/parity/signer/components/base/CloseIcon.kt
  android/src/main/java/io/parity/signer/domain/Models.kt
  android/src/main/java/io/parity/signer/domain/backend/UniffiInteractor.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportScreenFull.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsMultiselectBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsMultiselectScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/KeyDerivedItemMultiselect.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/NetworkKeysExpandableMultiselect.kt
  android/src/main/res/values/strings.xml
Labels: android

#2010 feat: Android dd confirmation
  android/src/main/java/io/parity/signer/screens/scan/ScanNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanViewModel.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/dynamicderivations/AddDDConfirmBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/dynamicderivations/AddDerivedKeysScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/dynamicderivations/AddDynamicDerivationScreenFull.kt
  android/src/main/res/values/strings.xml
Labels: android

#2012 feat: Android jdenticon
  .spellcheck/signer.dic
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/Jdenticon.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/Color.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/ColorTheme.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/Config.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/Graphics.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/HashUtils.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/IconGenerator.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/Point.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/Shapes.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/SvgPath.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/SvgRenderer.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/SvgWriter.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/Transform.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/jdenticon.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/readme.md
  android/src/test/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/TestHashUtils.kt
  android/src/test/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/TestJdenticon.kt
  android/src/test/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/TestMultiplatformFormatFloat.kt
Labels: android

#2017 feat: android feature toggle to skip root check for development
  android/src/main/java/io/parity/signer/domain/FeatureFlags.kt
  android/src/main/java/io/parity/signer/domain/RootUtils.kt
Labels: android

#2020 fix: removed unused field
  android/src/main/java/io/parity/signer/domain/SharedViewModel.kt
Labels: android

#2018 fix: don't stop auth flow if only one auth attempt is failed
  android/src/main/java/io/parity/signer/domain/Authentication.kt
Labels: android

#2028 feat: fit square jdenticon into circle
  android/src/main/java/io/parity/signer/components/networkicon/blockies/BlockiesIcon.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/Jdenticon.kt
  android/src/main/java/io/parity/signer/ui/theme/Color.kt
  android/src/main/java/io/parity/signer/ui/theme/Theme.kt
Labels: android

#2029 feat: Android agp upd
  android/build.gradle
  android/src/main/java/io/parity/signer/screens/initial/explanation/OnboardingScreenFull.kt
  build.gradle
Labels: android

#2027 feat: ios: Jdenticon library
  ios/Packages/Jdenticon/.gitignore
  ios/Packages/Jdenticon/Package.swift
  ios/Packages/Jdenticon/README.md
  ios/Packages/Jdenticon/Sources/Jdenticon/Colors/Color.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Colors/ColorTheme.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Drawing/Graphics.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Drawing/HashGenerator.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Drawing/IconGenerator.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Drawing/Shapes.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Drawing/Transform.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Helpers/Config.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Public/Jdenticon.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Public/JdenticonView.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Svg/SvgPath.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Svg/SvgRenderer.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Svg/SvgWrite.swift
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/PolkadotVault/Components/Identicons/JdenticonViewPreviews.swift
  ios/PolkadotVault/Components/Image/IdenticonView.swift
  ios/PolkadotVault/Resources/Assets.xcassets/background_identicon.colorset/Contents.json
  ios/PolkadotVault/Stubs/SignerImage+Stubs.swift
Labels: ios, work in progress

#2033 feat: Android navigation keyset part 1
  android/src/main/java/io/parity/signer/components/exposesecurity/ExposedAlert.kt
  android/src/main/java/io/parity/signer/components/exposesecurity/ExposedIcon.kt
  android/src/main/java/io/parity/signer/components/exposesecurity/ExposedNowBottomSheet.kt
  android/src/main/java/io/parity/signer/components/exposesecurity/ExposedPastBottomSheet.kt
  android/src/main/java/io/parity/signer/components/exposesecurity/ExposedViewModel.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar.kt
  android/src/main/java/io/parity/signer/components/qrcode/AnimatedQrKeysInfo.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/CircularCountDownTimer.kt
  android/src/main/java/io/parity/signer/domain/SharedViewModel.kt
  android/src/main/java/io/parity/signer/domain/backend/UniffiInteractor.kt
  android/src/main/java/io/parity/signer/screens/SelectSeedForBackup.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateSubgraph.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/airgap/AirgapScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsMenu.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/KeySetBackup.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetsScreen.kt
  android/src/main/java/io/parity/signer/screens/keysets/restore/KeysetRecoverSecondStepSubgraph.kt
  android/src/main/java/io/parity/signer/screens/scan/bananasplit/BananaSplitPasswordScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/bananasplit/BananaSplitSubgraph.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/CameraCutout.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/ScanScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/SettingsScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logdetails/LogDetails.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logslist/LogsScreenFull.kt
  android/src/main/java/io/parity/signer/ui/MainScreensAppFlow.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreensSelectorsLegacy.kt
Labels: android

#2034 feat: upd identicon images again
  android/src/main/java/io/parity/signer/components/networkicon/IdentIconImage.kt
  android/src/main/java/io/parity/signer/components/networkicon/blockies/BlockiesIcon.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/Jdenticon.kt
  android/src/main/java/io/parity/signer/ui/theme/Color.kt
Labels: android

#2032 feat: ios: Backend services refactor + migration to new APIs
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault.xcodeproj/xcshareddata/xcschemes/PolkadotVault-Dev.xcscheme
  ios/PolkadotVault.xcodeproj/xcshareddata/xcschemes/PolkadotVault.xcscheme
  ios/PolkadotVault/Backend/BaseService/BackendService.swift
  ios/PolkadotVault/Backend/CreateKeySetService.swift
  ios/PolkadotVault/Backend/ExportKeySetService.swift
  ios/PolkadotVault/Backend/GetAllNetworksService.swift
  ios/PolkadotVault/Backend/ImportDerivedKeysService.swift
  ios/PolkadotVault/Backend/KeyDetailsActionService.swift
  ios/PolkadotVault/Backend/KeyDetailsService.swift
  ios/PolkadotVault/Backend/KeyListService.swift
  ios/PolkadotVault/Backend/LogsService.swift
  ios/PolkadotVault/Backend/Models/ServiceError.swift
  ios/PolkadotVault/Backend/NavigationInitialisationService.swift
  ios/PolkadotVault/Backend/NavigationServices/AppInitialisationService.swift
  ios/PolkadotVault/Backend/NavigationServices/BananaSplitRecoveryService.swift
  ios/PolkadotVault/Backend/NavigationServices/GeneralVerifierService.swift
  ios/PolkadotVault/Backend/NavigationServices/ManageNetworkDetailsService.swift
  ios/PolkadotVault/Backend/NavigationServices/ManageNetworksService.swift
  ios/PolkadotVault/Backend/NavigationServices/PublicKeyDetailsService.swift
  ios/PolkadotVault/Backend/NavigationServices/ScanTabService.swift
  ios/PolkadotVault/Backend/NavigationServices/SettingsTabService.swift
  ios/PolkadotVault/Backend/NavigationServices/SignSpecService.swift
  ios/PolkadotVault/Backend/PublicKeyDetailsService.swift
  ios/PolkadotVault/Backend/Services/CreateKeySetService.swift
  ios/PolkadotVault/Backend/Services/DynamicDerivationsService.swift
  ios/PolkadotVault/Backend/Services/ExportKeySetService.swift
  ios/PolkadotVault/Backend/Services/GetAllNetworksService.swift
  ios/PolkadotVault/Backend/Services/ImportDerivedKeysService.swift
  ios/PolkadotVault/Backend/Services/KeyDetailsActionService.swift
  ios/PolkadotVault/Backend/Services/KeyDetailsService.swift
  ios/PolkadotVault/Backend/Services/KeyListService.swift
  ios/PolkadotVault/Backend/Services/LogsService.swift
  ios/PolkadotVault/Backend/Services/NavigationInitialisationService.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/KeyDetails/Models/DerivedKeyRowModel.swift
  ios/PolkadotVault/Screens/KeyDetails/Models/MKeyAndNetworkCard+PathAndNetwork.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/PolkadotVault/Screens/KeySetsList/KeySetList.swift
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
  ios/PolkadotVault/StateMediators/OnboardingMediator.swift
Labels: ios

#2047 feat: iOS: Recovery key set API update
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Backend/NavigationServices/RecoverKeySetService.swift
  ios/PolkadotVault/Backend/RecoverKeySetService.swift
  ios/PolkadotVault/Screens/CreateKey/CreateKeysForNetworks/CreateKeysForNetworksView.swift
  ios/PolkadotVault/Screens/CreateKey/RecoverKeySet/RecoverKeySetNameView.swift
  ios/PolkadotVault/Screens/CreateKey/RecoverKeySet/RecoverKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/KeySetsList/KeySetList.swift
Labels: ios

#2050 feat: ios: Rust API update
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Backend/NavigationServices/AppInitialisationService.swift
  ios/PolkadotVault/Backend/NavigationServices/GeneralVerifierService.swift
  ios/PolkadotVault/Backend/NavigationServices/ManageNetworkDetailsService.swift
  ios/PolkadotVault/Backend/NavigationServices/ManageNetworksService.swift
  ios/PolkadotVault/Backend/NavigationServices/ScanTabService.swift
  ios/PolkadotVault/Backend/NavigationServices/SettingsTabService.swift
  ios/PolkadotVault/Backend/NavigationServices/SignSpecService.swift
  ios/PolkadotVault/Backend/Services/GeneralVerifierService.swift
  ios/PolkadotVault/Backend/Services/GetManagedNetworksService.swift
  ios/PolkadotVault/Backend/Services/PublicKeyDetailsService.swift
  ios/PolkadotVault/Backend/Services/RecoverKeySetService.swift
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/Screens/CreateKey/CreateKeysForNetworks/CreateKeysForNetworksView.swift
  ios/PolkadotVault/Screens/DerivedKey/CreateKeyNetworkSelectionView.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/PolkadotVault/Screens/Scan/CameraView.swift
  ios/PolkadotVault/Screens/Settings/SettingsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSelectionSettings.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
  ios/PolkadotVault/Screens/Settings/Subviews/SignSpecs/SignSpecEnterPasswordModal.swift
  ios/PolkadotVault/Screens/Settings/Subviews/SignSpecs/SignSpecsListView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/VerifierCertificate/VerifierCertificateView.swift
  ios/PolkadotVault/StateMediators/OnboardingMediator.swift
Labels: ios
