Repository novasamatech/parity-signer, pull requests merged in 2023-05, with the labels that each got.

#1816 feat: ios: create derived key redesign
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Backend/BananaSplitRecoveryService.swift
  ios/PolkadotVault/Backend/CreateDerivedKeyService.swift
  ios/PolkadotVault/Backend/KeyDetailsActionService.swift
  ios/PolkadotVault/Backend/ManageNetworkDetailsService.swift
  ios/PolkadotVault/Components/TabBar/TabBarView.swift
  ios/PolkadotVault/Components/TabBar/ViewModels/Tab.swift
  ios/PolkadotVault/Core/Data/AppState.swift
  ios/PolkadotVault/Core/Navigation/NavigationCoordinator.swift
  ios/PolkadotVault/Design/Heights.swift
  ios/PolkadotVault/Modals/Errors/ErrorBottomModal.swift
  ios/PolkadotVault/Modals/Errors/ErrorBottomModalViewModel.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/EnterKeySetNameView.swift
  ios/PolkadotVault/Screens/DerivedKey/CreateDerivedKeyView.swift
  ios/PolkadotVault/Screens/DerivedKey/CreateKeyNetworkSelectionView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/AddKeySetUpNetworksStepOneView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/AddKeySetUpNetworksStepTwoView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/ChooseNetworkForKeyView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/DerivationPathNameView.swift
  ios/PolkadotVault/Screens/Factories/MainScreensFactory.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/PolkadotVault/Screens/KeySetsList/KeySetList.swift
  ios/PolkadotVault/Screens/Scan/BananaSplit/EnterBananaSplitPasswordModal.swift
  ios/PolkadotVault/Screens/Scan/CameraView.swift
  ios/PolkadotVault/Screens/Scan/TransactionPreview.swift
  ios/PolkadotVault/Screens/Settings/SettingsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSelectionSettings.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
  ios/PolkadotVaultTests/Components/TabBar/TabTests.swift
  ios/PolkadotVaultTests/Core/Navigation/NavigationCoordinatorTests.swift
Labels: UI, UX, ios

#1818 feat: ios: enable snackbar presentation in modal views
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Components/Errors/ConnectivityAlertOverlay.swift
  ios/PolkadotVault/Components/Overlays/FullscreenModal.swift
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/CreateKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/CreateKey/RecoverKeySet/RecoverKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/DerivedKey/CreateKeyNetworkSelectionView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/AddKeySetUpNetworksStepOneView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/AddKeySetUpNetworksStepTwoView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/DerivationPathNameView.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/PolkadotVault/Screens/KeySetsList/KeySetList.swift
  ios/PolkadotVault/Screens/Logs/Views/LogsListView.swift
  ios/PolkadotVault/Screens/Onboarding/OnboardingAgreementsView.swift
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/PolkadotVault/Screens/Scan/CameraView.swift
  ios/PolkadotVault/Screens/Settings/SettingsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Backup/BackupSelectKeyView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSelectionSettings.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
  ios/PolkadotVault/Screens/Settings/Subviews/SignSpecs/SignSpecsListView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/VerifierCertificate/VerifierCertificateView.swift
Labels: UX, ios

#1817 feat: Android onboarding explanation
  android/src/main/java/io/parity/signer/components/base/Buttons.kt
  android/src/main/java/io/parity/signer/components/base/Pager.kt
  android/src/main/java/io/parity/signer/screens/initial/UnlockScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/WaitingScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/EachStartSubgraphScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/EachStartViewModel.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/airgap/AirGapViewModel.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/airgap/AirgapScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/rootcheck/RootExposedScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/screenlock/SetScreenLockScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/explanation/OnboardingScreen1.kt
  android/src/main/java/io/parity/signer/screens/initial/explanation/OnboardingScreen2.kt
  android/src/main/java/io/parity/signer/screens/initial/explanation/OnboardingScreen3.kt
  android/src/main/java/io/parity/signer/screens/initial/explanation/OnboardingScreen4.kt
  android/src/main/java/io/parity/signer/screens/initial/explanation/OnboardingScreenFull.kt
  android/src/main/java/io/parity/signer/screens/initial/splash/SplashScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/splash/SplashScreenViewModel.kt
  android/src/main/java/io/parity/signer/screens/initial/termsconsent/DocumentsOnboardingScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/termsconsent/OnBoardingViewModel.kt
  android/src/main/java/io/parity/signer/screens/initial/termsconsent/TermsConsentScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/LogsSubgraph.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logdetails/LogDetails.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logslist/LogsScreenFull.kt
  android/src/main/java/io/parity/signer/ui/MainScreensAppFlow.kt
  android/src/main/java/io/parity/signer/ui/RootNavigationGraph.kt
  android/src/main/res/drawable/onboarding_1.png
  android/src/main/res/drawable/onboarding_2.png
  android/src/main/res/drawable/onboarding_3.png
  android/src/main/res/drawable/onboarding_4.png
  android/src/main/res/values/strings.xml
Labels: UI, android

#1826 chore: ios: update ruby to fix TestFlight distribution
  Gemfile.lock
Labels: ios

#1618 feat: don't show create bottom sheet for key sets if nobody requested it
  android/src/main/java/io/parity/signer/screens/keysets/KeySetsNavSubgraph.kt
  ios/PolkadotVault/Backend/CreateKeySetService.swift
  ios/PolkadotVault/Backend/RecoverKeySetService.swift
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/EnterKeySetNameView.swift
  ios/PolkadotVault/Screens/CreateKey/RecoverKeySet/RecoverKeySetNameView.swift
  rust/navigator/src/navstate.rs
Labels: backend, ios, android

#1844 feat: Android agp update
  .github/workflows/android-app.yml
  .github/workflows/android-release.yml
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Labels: android

#1853 fix: ios: - #1850 Cannot create/import account with the same name after deletion
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
Labels: ios

#1854 feat: android agp update
  build.gradle
Labels: android

#1857 fix: ios: #1851 crash on network deletion
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSelectionSettings.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
Labels: ios

#1858 fix: ios: #1852 Present snackbar only in context of current screen, not generic view modifiers
  ios/PolkadotVault/Components/Modals/FullscreenModal.swift
  ios/PolkadotVault/Core/ServiceLocator.swift
  ios/PolkadotVault/Screens/DerivedKey/CreateKeyNetworkSelectionView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/CreateDerivedKeyConfirmationView.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/PolkadotVault/Screens/KeySetsList/KeySetList.swift
  ios/PolkadotVault/Screens/Logs/Views/LogNoteModal.swift
  ios/PolkadotVault/Screens/Logs/Views/LogsListView.swift
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/PolkadotVault/Screens/Scan/CameraView.swift
  ios/PolkadotVault/Screens/Scan/TransactionPreview.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSelectionSettings.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
Labels: ios

#1862 fix: ios: #1849 - displayed key set can lead to details of another one
  ios/PolkadotVault/Screens/KeySetsList/KeySetList.swift
Labels: ios
