Repository novasamatech/parity-signer, pull requests merged in 2023-01, with the labels that each got.

#1508 feat: iOS: hide option to not create root key when adding / restoring key set
  ios/NativeSigner/Modals/Deprecated/NewSeedBackupModal.swift
  ios/NativeSigner/Screens/RecoverSeedPhrase.swift
Labels: ios

#1513 feat: target android NDK api we are actually using
  android/build.gradle
Labels: android

#1514 feat: updated android dependencies
  android/build.gradle
  build.gradle
Labels: android

#1506 feat: banana split recovery
  android/src/main/java/io/parity/signer/screens/scan/camera/CameraViewModel.kt
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Core/Keychain/SeedsMediator.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Modals/Deprecated/ModalSelector.swift
  ios/NativeSigner/Modals/Deprecated/NewSeedBackupModal.swift
  ios/NativeSigner/Modals/Errors/ErrorBottomModalViewModel.swift
  ios/NativeSigner/Models/CameraService.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/NativeSigner/Screens/RecoverSeedPhrase.swift
  ios/NativeSigner/Screens/Scan/CameraView.swift
  ios/NativeSigner/Screens/Scan/EnterBananaSplitPasswordModal.swift
  ios/NativeSigner/Screens/Scan/EnterPasswordModal.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
  ios/NativeSigner/Screens/SelectorViews/ModalSelectorView.swift
  ios/NativeSigner/Screens/SelectorViews/ScreenSelectorView.swift
  rust/Cargo.lock
  rust/definitions/src/navigation.rs
  rust/qr_reader_pc/src/lib.rs
  rust/qr_reader_pc/tests/integration_test.rs
  rust/qr_reader_phone/Cargo.toml
  rust/qr_reader_phone/src/error.rs
  rust/qr_reader_phone/src/lib.rs
  rust/qr_reader_phone/src/process_payload.rs
  rust/signer/Cargo.toml
  rust/signer/src/lib.rs
  rust/signer/src/signer.udl
Labels: UI, backend, UX, ios

#1521 fix: android adjust android to rust state machine
  android/src/main/java/io/parity/signer/screens/scan/transaction/TransactionsScreenFull.kt
Labels: android

#1534 feat: make android not crash when private key exported for passworded keys
  android/src/main/java/io/parity/signer/models/Navigation.kt
Labels: android

#1543 fix: iOS: correct valdiation for passworded path
  ios/NativeSigner/Screens/DerivedKey/Subviews/DerivationPathNameView.swift
Labels: UI, UX, ios

#1542 style: iOS: Use new design system on old screens and reduce presentation code complexity
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Components/Deprecated/Buttons.swift
  ios/NativeSigner/Components/Deprecated/Headers.swift
  ios/NativeSigner/Core/Keychain/SeedsMediator.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Modals/Deprecated/LogComment.swift
  ios/NativeSigner/Modals/Deprecated/ModalSelector.swift
  ios/NativeSigner/Modals/Deprecated/NewSeedBackupModal.swift
  ios/NativeSigner/Modals/Deprecated/PasswordConfirm.swift
  ios/NativeSigner/Modals/Deprecated/SelectSeed.swift
  ios/NativeSigner/Modals/Deprecated/SufficientCryptoReady.swift
  ios/NativeSigner/Modals/Deprecated/TypesMenu.swift
  ios/NativeSigner/Models/RustNative.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/NativeSigner/Screens/Containers/UnauthenticatedScreenContainer.swift
  ios/NativeSigner/Screens/LandingView.swift
  ios/NativeSigner/Screens/NewSeedScreen.swift
  ios/NativeSigner/Screens/RecoverSeedName.swift
  ios/NativeSigner/Screens/RecoverSeedPhrase.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
  ios/NativeSigner/Screens/SelectSeedForBackup.swift
  ios/NativeSigner/Screens/SelectorViews/ModalSelectorView.swift
  ios/NativeSigner/Screens/SelectorViews/ScreenSelectorView.swift
  ios/NativeSigner/Screens/SignSufficientCrypto.swift
Labels: UI, UX, ios

#1512 fix: remove seed to work without syncing menu state with rust
  rust/navigator/src/navstate.rs
Labels: backend, android

#1546 style: iOS: design review improvements for smaller devices
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Backend/ExportPrivateKeyService.swift
  ios/NativeSigner/Backend/PrivateKeyQRCodeService.swift
  ios/NativeSigner/Components/Buttons/ActionSheetButton.swift
  ios/NativeSigner/Components/Modals/Snackbar.swift
  ios/NativeSigner/Components/QRCode/AnimatedQRCodeView.swift
  ios/NativeSigner/Components/QRCode/QRCodeAddressFooterView.swift
  ios/NativeSigner/Components/SeedPhrase/SeedPhraseView.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Design/CornerRadius.swift
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Design/Spacing.swift
  ios/NativeSigner/Design/UIFont+Roboto.swift
  ios/NativeSigner/Extensions/String+Utilities.swift
  ios/NativeSigner/Modals/Backup/BackupModal.swift
  ios/NativeSigner/Modals/Deprecated/NewSeedBackupModal.swift
  ios/NativeSigner/Modals/Deprecated/SelectSeed.swift
  ios/NativeSigner/Modals/ExportKeys/ExportMultipleKeysModal.swift
  ios/NativeSigner/Modals/ExportPrivateKey/ExportPrivateKeyModal.swift
  ios/NativeSigner/Previews/PreviewData+Components.swift
  ios/NativeSigner/Resources/Fonts/RobotoMono-Regular.ttf
  ios/NativeSigner/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/NativeSigner/Screens/DerivedKey/Subviews/DerivationMethodsInfoView.swift
  ios/NativeSigner/Screens/DerivedKey/Subviews/DerivationPathNameView.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetails+SelectionOverlay.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/NativeSigner/Screens/KeyDetails/Views/RootKeyDetailsModal.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyViewModel.swift
  ios/NativeSigner/Screens/RecoverSeedPhrase.swift
  ios/NativeSigner/Screens/Scan/CameraView.swift
  ios/NativeSigner/Screens/Scan/TransactionPreview.swift
  ios/NativeSigner/Screens/SelectSeedForBackup.swift
  ios/NativeSigner/Screens/Settings/Subviews/Networks/NetworkSelectionSettings.swift
  ios/NativeSigner/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
Labels: UI, UX, ios

#1553 fix: ios: fix navigation during banana split
  ios/NativeSigner/Screens/Scan/EnterBananaSplitPasswordModal.swift
Labels: ios

#1554 feat: iOS: Redesign "Add Log Note" screen
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Modals/Deprecated/LogComment.swift
  ios/NativeSigner/Modals/Deprecated/ModalSelector.swift
  ios/NativeSigner/Modifiers/HiddenTextEditorBackgroundModifier.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/DerivedKey/Subviews/ChooseNetworkForKeyView.swift
  ios/NativeSigner/Screens/Logs/Views/LogNoteModal.swift
  ios/NativeSigner/Screens/Logs/Views/LogsListView.swift
Labels: UI, UX, ios

#1555 fix: ios: Banana Split fixes - avoiding empty seed name and conditional navigation based on number of seeds
  ios/NativeSigner/Core/Keychain/SeedsMediator.swift
  ios/NativeSigner/Modifiers/SecuredTextField.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Scan/EnterBananaSplitPasswordModal.swift
Labels: UI, UX, ios

#1556 feat: Android forbid screenshots and make sure countdown will do cancel action when it's hidden from screen.
  android/src/main/java/io/parity/signer/components/ComposeUtils.kt
  android/src/main/java/io/parity/signer/components/SeedBox.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/CircularCountDownTimer.kt
  android/src/main/java/io/parity/signer/models/ComposeUtils.kt
  android/src/main/java/io/parity/signer/models/UiUtils.kt
  android/src/main/java/io/parity/signer/screens/keydetails/exportprivatekey/PrivateKeyExportBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/BackupPhraseBox.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanScreen.kt
Labels: android

#1560 feat: ios: hide private data when application is in background
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Components/QRCode/AnimatedQRCodeView.swift
  ios/NativeSigner/Components/SeedPhrase/SeedPhraseView.swift
  ios/NativeSigner/Core/ApplicationStatePublisher.swift
  ios/NativeSigner/Modals/Backup/BackupModal.swift
  ios/NativeSigner/Modals/Deprecated/NewSeedBackupModal.swift
  ios/NativeSigner/Modals/ExportPrivateKey/ExportPrivateKeyModal.swift
  ios/NativeSigner/NativeSignerApp.swift
Labels: UI, ios

#1565 feat: iOS: Dedicated Terms of Service and Privacy Policy screens
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Components/Deprecated/DocumentModal.swift
  ios/NativeSigner/Components/Deprecated/Headers.swift
  ios/NativeSigner/Components/Deprecated/InstructionsSquare.swift
  ios/NativeSigner/Components/Deprecated/MenuElements.swift
  ios/NativeSigner/Docs/privacy-policy.txt
  ios/NativeSigner/Docs/terms-and-conditions.txt
  ios/NativeSigner/Modals/Deprecated/ModalSelector.swift
  ios/NativeSigner/Modals/Deprecated/PasswordConfirm.swift
  ios/NativeSigner/Modals/Deprecated/SufficientCryptoReady.swift
  ios/NativeSigner/Modals/Deprecated/TypesMenu.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Settings/SettingsItem.swift
  ios/NativeSigner/Screens/Settings/SettingsView.swift
  ios/NativeSigner/Screens/Settings/Subviews/PrivacyPolicyView.swift
  ios/NativeSigner/Screens/Settings/Subviews/TermsOfServiceView.swift
Labels: UI, UX, ios

#1566 fix: iOS: continue visibility timer countdown when in background
  ios/NativeSigner/Components/CircularProgressView.swift
Labels: UX, ios

#1568 fix: init navigation before doing other requests to rust
  android/src/main/java/io/parity/signer/models/SignerDataModel.kt
Labels: android

#1557 feat: added auth check for logs removal
  android/src/main/java/io/parity/signer/screens/logs/LogsMenu.kt
Labels: android

#1550 feat: Android banana split
  android/src/main/java/io/parity/signer/components/base/ScreenBaseComponents.kt
  android/src/main/java/io/parity/signer/models/Authentication.kt
  android/src/main/java/io/parity/signer/models/Navigation.kt
  android/src/main/java/io/parity/signer/models/SignerDataModel.kt
  android/src/main/java/io/parity/signer/models/storage/SeedRepository.kt
  android/src/main/java/io/parity/signer/models/storage/SeedStorage.kt
  android/src/main/java/io/parity/signer/models/storage/SeedStorageOld.kt
  android/src/main/java/io/parity/signer/screens/RecoverSeedPhrase.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeySetBackupScreenFull.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanViewModel.kt
  android/src/main/java/io/parity/signer/screens/scan/bananasplit/BananaSplitPasswordScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/bananasplit/BananaSplitViewModel.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/CameraViewModel.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/ScanScreen.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/SignerSelectorsLegacy.kt
  android/src/main/res/values/strings.xml
Labels: android

#1572 feat: ios: new tos/pp onboarding screen
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Components/Deprecated/DocumentModal.swift
  ios/NativeSigner/Design/Heights.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Containers/MainScreenContainer.swift
  ios/NativeSigner/Screens/LandingView.swift
  ios/NativeSigner/Screens/Onboarding/OnboardingAgreementsView.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
Labels: UI, UX, ios

#1573 fix: ios: fix issue with touch not being received sometimes in main view contexts
  ios/NativeSigner/Components/Modals/Snackbar.swift
Labels: UX, ios

#1530 feat: Android create derivations
  android/src/main/java/io/parity/signer/backend/UniffiInteractor.kt
  android/src/main/java/io/parity/signer/bottomsheets/password/EnterPassword.kt
  android/src/main/java/io/parity/signer/bottomsheets/password/PasswordConfirm.kt
  android/src/main/java/io/parity/signer/components/base/Buttons.kt
  android/src/main/java/io/parity/signer/components/base/ScreenBaseComponents.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/models/Keys.kt
  android/src/main/java/io/parity/signer/models/Models.kt
  android/src/main/java/io/parity/signer/models/storage/SeedRepository.kt
  android/src/main/java/io/parity/signer/screens/NewAddressScreen.kt
  android/src/main/java/io/parity/signer/screens/keyderivation/DerivationCreateSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keyderivation/DerivationCreateViewModel.kt
  android/src/main/java/io/parity/signer/screens/keyderivation/DerivationPathAnalyzer.kt
  android/src/main/java/io/parity/signer/screens/keyderivation/derivationsubscreens/DerivationCreateConfirmBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keyderivation/derivationsubscreens/DerivationPathScreen.kt
  android/src/main/java/io/parity/signer/screens/keyderivation/derivationsubscreens/DeriveKeyBaseScreen.kt
  android/src/main/java/io/parity/signer/screens/keyderivation/derivationsubscreens/NetworkSelectionBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keyderivation/help/DerivationKeysHelpBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keyderivation/help/DerivationMethodsHelpBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keyderivation/help/DerivationPathHelpBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keydetails/KeyDetailsPublicKeyScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetsNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/scan/bananasplit/BananaSplitPasswordScreen.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/SignerSelectorsLegacy.kt
  android/src/main/java/io/parity/signer/ui/theme/Color.kt
  android/src/main/res/values/strings.xml
  android/src/test/java/io/parity/signer/screens/keyderivation/DerivationPathAnalyzerTest.kt
Labels: android

#1580 fix: ios: fix initial calls to Rust hierarchy
  ios/NativeSigner/Core/Keychain/SeedsMediator.swift
  ios/NativeSigner/Models/RustNative.swift
Labels: ios

#1576 fix: Android clean start fix
  android/src/main/java/io/parity/signer/models/SignerDataModel.kt
  android/src/main/java/io/parity/signer/screens/LandingView.kt
Labels: android

#1561 feat: ios: check for jailbreak each time application becomes active
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Core/JailbreakDetectionPublisher.swift
  ios/NativeSigner/NativeSignerApp.swift
  ios/NativeSigner/Resources/Assets.xcassets/errors/jailbreak.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/errors/jailbreak.imageset/jailbreak.svg
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Errors/JailbreakDetectedView.swift
Labels: UI, UX, ios

#1587 feat: ios: dedicated unlock phone screen after invalid passcode
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Models/CameraService.swift
  ios/NativeSigner/Models/RustNative.swift
  ios/NativeSigner/Resources/Assets.xcassets/errors/lock_open.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/errors/lock_open.imageset/lock_open.svg
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Containers/MainScreenContainer.swift
  ios/NativeSigner/Screens/Containers/UnauthenticatedScreenContainer.swift
  ios/NativeSigner/Screens/Errors/UnlockDeviceView.swift
Labels: UI, ios

#1569 feat: Android import derivations
  android/src/main/java/io/parity/signer/components/base/FrameContainers.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/models/Authentication.kt
  android/src/main/java/io/parity/signer/models/UiUtils.kt
  android/src/main/java/io/parity/signer/models/storage/SeedRepository.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateSubgraph.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateViewModel.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationPathAnalyzer.kt
  android/src/main/java/io/parity/signer/screens/createderivation/derivationsubscreens/DerivationCreateConfirmBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/createderivation/derivationsubscreens/DerivationPathScreen.kt
  android/src/main/java/io/parity/signer/screens/createderivation/derivationsubscreens/DeriveKeyBaseScreen.kt
  android/src/main/java/io/parity/signer/screens/createderivation/derivationsubscreens/NetworkSelectionBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/createderivation/help/DerivationKeysHelpBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/createderivation/help/DerivationMethodsHelpBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/createderivation/help/DerivationPathHelpBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanViewModel.kt
  android/src/main/java/io/parity/signer/screens/scan/elements/ScanGenericErrorBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/scan/importderivations/Extensions.kt
  android/src/main/java/io/parity/signer/screens/scan/importderivations/ImportDerivedKeysRepository.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/TransactionsScreenFull.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/components/TransactionElementSelector.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/separatescreens/MetadataUpdatedScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/separatescreens/TransactionSignScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/transactionElements/TCDerivatoins.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/transactionElements/TCImportDerivatoins.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/navigationselectors/SignerSelectorsLegacy.kt
  android/src/main/res/values/plurals.xml
  android/src/main/res/values/strings.xml
  android/src/test/java/io/parity/signer/screens/createderivation/DerivationPathAnalyzerTest.kt
Labels: android
