Repository novasamatech/parity-signer, pull requests merged in 2023-02, with the labels that each got.

#1589 feat: ios: update passcode state during application lifetime and add dedicated design
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Core/PasswordProtectionStatePublisher.swift
  ios/NativeSigner/Models/RustNative.swift
  ios/NativeSigner/NativeSignerApp.swift
  ios/NativeSigner/Resources/Assets.xcassets/errors/device-pincode.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/errors/device-pincode.imageset/Vector.svg
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Containers/MainScreenContainer.swift
  ios/NativeSigner/Screens/Errors/DevicePincodeRequiredView.swift
Labels: UI, ios

#1588 style: ios: update design for empty path keys (root key on given network)
  ios/NativeSigner/Cards/TransactionCards/TCDerivations.swift
  ios/NativeSigner/Components/QRCode/QRCodeAddressFooterView.swift
  ios/NativeSigner/Components/Rows/DerivedKeyOverviewRow.swift
  ios/NativeSigner/Components/Text/ActionableInfoBoxView.swift
  ios/NativeSigner/Modals/Backup/BackupModal.swift
  ios/NativeSigner/Previews/PreviewData+Components.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/DerivedKey/CreateDerivedKeyView.swift
  ios/NativeSigner/Screens/DerivedKey/Subviews/CreateDerivedKeyConfirmationView.swift
  ios/NativeSigner/Screens/KeyDetails/Views/DerivedKeyRow.swift
Labels: UI, ios

#1605 style: ios: redesign for Key Details + refactor to NavigationBarView and
  ios/NativeSigner/Components/NavigationBarView.swift
  ios/NativeSigner/Modals/Deprecated/NewSeedBackupModal.swift
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/plus.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/common_icons/plus.imageset/plux.svg
  ios/NativeSigner/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/NativeSigner/Screens/DerivedKey/CreateDerivedKeyView.swift
  ios/NativeSigner/Screens/DerivedKey/Subviews/DerivationPathNameView.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/NativeSigner/Screens/KeySetsList/KeySetList.swift
  ios/NativeSigner/Screens/Logs/Views/LogsListView.swift
  ios/NativeSigner/Screens/NewSeedScreen.swift
  ios/NativeSigner/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/NativeSigner/Screens/Scan/TransactionDetailsView.swift
  ios/NativeSigner/Screens/Scan/TransactionPreview.swift
  ios/NativeSigner/Screens/Settings/SettingsView.swift
  ios/NativeSigner/Screens/Settings/Subviews/Backup/BackupSelectKeyView.swift
  ios/NativeSigner/Screens/Settings/Subviews/Networks/NetworkSelectionSettings.swift
  ios/NativeSigner/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
  ios/NativeSigner/Screens/Settings/Subviews/PrivacyPolicyView.swift
  ios/NativeSigner/Screens/Settings/Subviews/TermsOfServiceView.swift
  ios/NativeSigner/Screens/Settings/Subviews/VerfierCertificateView.swift
Labels: UI, UX, ios

#1606 fix: ios: fix multiple touch events on dismiss actions
  ios/NativeSigner/Modals/Alerts/HorizontalActionsBottomModal.swift
  ios/NativeSigner/Modals/Alerts/VerticalActionsBottomModal.swift
  ios/NativeSigner/Modals/Backup/BackupModal.swift
  ios/NativeSigner/Modals/Errors/ErrorBottomModal.swift
  ios/NativeSigner/Modals/ExportKeys/ExportMultipleKeysModal.swift
  ios/NativeSigner/Modals/ExportPrivateKey/ExportPrivateKeyModal.swift
  ios/NativeSigner/Modals/ExportPrivateKey/ExportPrivateKeyWarningModal.swift
  ios/NativeSigner/Modals/KeySet/KeyDetailsActionsModal.swift
  ios/NativeSigner/Modals/KeySet/PublicKeyActionsModal.swift
  ios/NativeSigner/Modals/NetworkSelection/NetworkSelectionModal.swift
  ios/NativeSigner/Screens/DerivedKey/Subviews/ChooseNetworkForKeyView.swift
  ios/NativeSigner/Screens/DerivedKey/Subviews/CreateDerivedKeyConfirmationView.swift
  ios/NativeSigner/Screens/DerivedKey/Subviews/DerivationMethodsInfoView.swift
  ios/NativeSigner/Screens/KeyDetails/Views/RootKeyDetailsModal.swift
  ios/NativeSigner/Screens/KeySetsList/AddKeySetModal.swift
  ios/NativeSigner/Screens/KeySetsList/KeyListMoreMenuModal.swift
  ios/NativeSigner/Screens/Logs/Views/LogNoteModal.swift
  ios/NativeSigner/Screens/Logs/Views/LogsMoreActionsModal.swift
  ios/NativeSigner/Screens/Scan/EnterBananaSplitPasswordModal.swift
  ios/NativeSigner/Screens/Scan/EnterPasswordModal.swift
  ios/NativeSigner/Screens/Scan/TransactionDetailsView.swift
  ios/NativeSigner/Screens/Scan/TransactionPreview.swift
  ios/NativeSigner/Screens/Settings/Subviews/Backup/SettingsBackupModal.swift
  ios/NativeSigner/Screens/Settings/Subviews/Networks/NetworkSettingsDetailsActionModal.swift
Labels: ios

#1613 fix: android fix telling rust about airgap breached till rust navigation initizlied
  android/src/main/java/io/parity/signer/backend/UniffiInteractor.kt
  android/src/main/java/io/parity/signer/bottomsheets/LogComment.kt
  android/src/main/java/io/parity/signer/bottomsheets/ManageMetadata.kt
  android/src/main/java/io/parity/signer/bottomsheets/NetworkDetailsMenu.kt
  android/src/main/java/io/parity/signer/bottomsheets/SelectSeed.kt
  android/src/main/java/io/parity/signer/bottomsheets/TypesInfo.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar.kt
  android/src/main/java/io/parity/signer/components/panels/TopBar.kt
  android/src/main/java/io/parity/signer/components/qrcode/EmptyQrCodeProvider.kt
  android/src/main/java/io/parity/signer/dependencygraph/ServiceLocator.kt
  android/src/main/java/io/parity/signer/domain/Navigation.kt
  android/src/main/java/io/parity/signer/domain/NetworkExposedStateKeeper.kt
  android/src/main/java/io/parity/signer/domain/SeedExtensions.kt
  android/src/main/java/io/parity/signer/domain/SignerMainViewModel.kt
  android/src/main/java/io/parity/signer/domain/storage/SeedStorageOld.kt
  android/src/main/java/io/parity/signer/domain/storage/TransactionOld.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateViewModel.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportService.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetsExportService.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanViewModel.kt
  android/src/main/java/io/parity/signer/screens/scan/bananasplit/BananaSplitViewModel.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/ScanScreen.kt
  android/src/main/java/io/parity/signer/ui/MainScreensAppFlow.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/SignerSelectorsLegacy.kt
Labels: android

#1612 fix: Android fixis blank screen start
  android/src/main/java/io/parity/signer/screens/onboarding/UnlockScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/airgap/EnableAirgapScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/splash/SplashScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/termsconsent/TermsConsentScreen.kt
  android/src/main/java/io/parity/signer/ui/MainScreensAppFlow.kt
  android/src/main/java/io/parity/signer/ui/SignerMainNavigationGraph.kt
Labels: android

#1619 feat: ios: new empty state on key set details and updated spacing
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetailsView.swift
Labels: UI, UX, ios

#1621 feat: typed errors for ux
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Core/Adapters/BackendNavigationAdapter.swift
  ios/NativeSigner/Core/Navigation/NavigationCoordinator.swift
  ios/NativeSigner/Extensions/Localizable+Formatted.swift
  ios/NativeSigner/Modals/Errors/ErrorBottomModal.swift
  ios/NativeSigner/Modals/Errors/ErrorBottomModalViewModel.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Scan/BananaSplit/EnterBananaSplitPasswordModal.swift
  ios/NativeSigner/Screens/Scan/CameraView.swift
  ios/NativeSigner/Screens/Scan/Errors/ErrorBottomModalViewModel+TransactionErrors.swift
  ios/NativeSigner/Screens/Scan/Errors/ErrorDisplayed+TransactionSigning.swift
  ios/NativeSigner/Screens/Scan/Password/EnterPasswordModal.swift
  ios/NativeSignerTests/Core/Navigation/NavigationCoordinatorTests.swift
  rust/Cargo.lock
  rust/definitions/src/error.rs
  rust/definitions/src/error_signer.rs
  rust/navigator/src/navstate.rs
  rust/navigator/src/states.rs
  rust/navigator/src/tests.rs
  rust/signer/Cargo.toml
  rust/signer/src/lib.rs
  rust/signer/src/signer.udl
  rust/transaction_parsing/src/cards.rs
  rust/transaction_parsing/src/lib.rs
  rust/transaction_parsing/src/message.rs
  rust/transaction_parsing/src/parse_transaction.rs
  rust/transaction_parsing/src/tests.rs
  rust/transaction_signing/src/sign_transaction.rs
  rust/transaction_signing/src/tests.rs
Labels: UI, backend, UX, ios

#1625 feat: android unlock redesign
  android/src/main/java/io/parity/signer/screens/onboarding/UnlockScreen.kt
  android/src/main/res/values/strings.xml
Labels: android

#1614 feat: Android empty screens state
  android/src/main/java/io/parity/signer/components/base/ScreenBaseComponents.kt
  android/src/main/java/io/parity/signer/domain/SignerMainViewModel.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetsScreen.kt
  android/src/main/java/io/parity/signer/ui/MainScreensAppFlow.kt
  android/src/main/res/values/dimens.xml
  android/src/main/res/values/strings.xml
Labels: android

#1628 feat: update android build tools
  android/src/main/AndroidManifest.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: android

#1629 feat: ios: update icon and splash screen
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Info.plist
  ios/NativeSigner/LaunchScreen.xib
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/appIcon.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ios-marketing-1024x1024-1x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ipad-20x20-1x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ipad-20x20-2x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ipad-29x29-1x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ipad-29x29-2x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ipad-40x40-1x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ipad-40x40-2x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ipad-50x50-1x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ipad-50x50-2x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ipad-72x72-1x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ipad-72x72-2x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ipad-76x76-1x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ipad-76x76-2x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/ipad-83.5x83.5-2x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/iphone-20x20-2x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/iphone-20x20-3x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/iphone-29x29-1x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/iphone-29x29-2x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/iphone-29x29-3x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/iphone-40x40-2x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/iphone-40x40-3x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/iphone-57x57-1x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/iphone-57x57-2x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/iphone-60x60-2x.png
  ios/NativeSigner/Resources/Assets.xcassets/AppIcon.appiconset/iphone-60x60-3x.png
  ios/NativeSigner/Resources/Assets.xcassets/LaunchScreen.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/LaunchScreen.imageset/launchScreenLogo.svg
  ios/NativeSigner/Resources/Launch Screen.storyboard
  ios/NativeSignerTests/Core/Navigation/NavigationCoordinatorTests.swift
Labels: UI, ios

#1631 feat: ios: backup modal fixes
  ios/NativeSigner/Components/Rows/DerivedKeyOverviewRow.swift
  ios/NativeSigner/Previews/PreviewData+Components.swift
  rust/db_handling/src/interface_signer.rs
  rust/db_handling/tests/tests.rs
Labels: ios

#1633 feat: ios: create seed update
  ios/NativeSigner/Extensions/Localizable+Formatted.swift
  ios/NativeSigner/Modals/Errors/ErrorBottomModal.swift
  ios/NativeSigner/Modals/Errors/ErrorBottomModalViewModel.swift
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/CreateKey/CreateKeySetSeedPhraseView.swift
Labels: UI, UX, ios

#1636 fix: ios: fix issue where backup modal requests pincode several times
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/NativeSigner/Screens/KeyDetails/Views/KeyDetailsView.swift
Labels: ios

#1639 fix: ios: fix launch screen storyboard issue on archiving
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Info.plist
  ios/NativeSigner/Resources/LaunchScreen.storyboard
Labels: ios

#1642 feat: ios: screenshot warning screen in onboarding
  ios/NativeSigner.xcodeproj/project.pbxproj
  ios/NativeSigner/Design/Spacing.swift
  ios/NativeSigner/Resources/Assets.xcassets/airgap_airplane.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/airgap_airplane.imageset/airgap_airplane.svg
  ios/NativeSigner/Resources/Assets.xcassets/airgap_airplane_error.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/airgap_airplane_error.imageset/airgap_airplane_error.svg
  ios/NativeSigner/Resources/Assets.xcassets/airgap_cables.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/airgap_cables.imageset/airgap_cables.svg
  ios/NativeSigner/Resources/Assets.xcassets/airgap_wifi.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/airgap_wifi.imageset/airgap_wifi.svg
  ios/NativeSigner/Resources/Assets.xcassets/airgap_wifi_error.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/airgap_wifi_error.imageset/airgap_wifi_error.svg
  ios/NativeSigner/Resources/Assets.xcassets/screenshot_confirmed.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/screenshot_confirmed.imageset/Screenshot_enabled_dark.svg
  ios/NativeSigner/Resources/Assets.xcassets/screenshot_confirmed.imageset/Screenshot_enabled_light.svg
  ios/NativeSigner/Resources/Assets.xcassets/screenshot_unconfirmed.imageset/Contents.json
  ios/NativeSigner/Resources/Assets.xcassets/screenshot_unconfirmed.imageset/Screenshot_disabed_dark.svg
  ios/NativeSigner/Resources/Assets.xcassets/screenshot_unconfirmed.imageset/Screenshot_disabed_light.svg
  ios/NativeSigner/Resources/en.lproj/Localizable.strings
  ios/NativeSigner/Screens/Onboarding/OnboardingAgreementsView.swift
  ios/NativeSigner/Screens/Onboarding/OnboardingScreenshotsView.swift
  ios/NativeSigner/Screens/Onboarding/OnboardingState.swift
  ios/NativeSigner/Screens/Onboarding/Overview/OnboardingOverviewView.swift
  ios/NativeSigner/Screens/ScreenSelector.swift
Labels: UI, ios

#1643 chore: Android rename signer to polkador vault
  android/src/main/AndroidManifest.xml
  android/src/main/java/io/parity/signer/MainActivity.kt
  android/src/main/java/io/parity/signer/PolkadotVaultApp.kt
  android/src/main/java/io/parity/signer/bottomsheets/LogComment.kt
  android/src/main/java/io/parity/signer/bottomsheets/ManageMetadata.kt
  android/src/main/java/io/parity/signer/bottomsheets/NetworkDetailsMenu.kt
  android/src/main/java/io/parity/signer/bottomsheets/SelectSeed.kt
  android/src/main/java/io/parity/signer/bottomsheets/TypesInfo.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar.kt
  android/src/main/java/io/parity/signer/components/panels/TopBar.kt
  android/src/main/java/io/parity/signer/domain/Navigation.kt
  android/src/main/java/io/parity/signer/domain/SeedExtensions.kt
  android/src/main/java/io/parity/signer/domain/SharedViewModel.kt
  android/src/main/java/io/parity/signer/domain/storage/SeedStorageOld.kt
  android/src/main/java/io/parity/signer/domain/storage/TransactionOld.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsNavSubgraph.kt
  android/src/main/java/io/parity/signer/ui/MainScreensAppFlow.kt
  android/src/main/java/io/parity/signer/ui/RootNavigationGraph.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreensSelectorsLegacy.kt
  android/src/main/res/values/strings.xml
  settings.gradle
Labels: android

#1648 feat: ios: don't bring back onboarding on wipe all action
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Models/SharedDataModel.swift
  ios/PolkadotVault/Screens/Settings/SettingsView.swift
Labels: UX, ios

#1650 chore: ios: update visible name for app to Vault
  ios/PolkadotVault/Info.plist
Labels: UI, ios

#1651 chore: Android new icon
  android/src/main/AndroidManifest.xml
  android/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  android/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  android/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  android/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  android/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  android/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/src/main/res/values/ic_launcher_background.xml
  android/src/main/res/values/strings.xml
Labels: android

#1624 fix: Android derivation fixes
  android/src/main/java/io/parity/signer/domain/SharedViewModel.kt
  android/src/main/java/io/parity/signer/domain/storage/SeedStorage.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateSubgraph.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateViewModel.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsMenu.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenFull.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanViewModel.kt
  android/src/main/java/io/parity/signer/ui/MainScreensAppFlow.kt
  android/src/main/res/values/strings.xml
Labels: android

#1653 fix: ios: prerelease bug fixes
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Components/QRCode/AnimatedQRCodeView.swift
  ios/PolkadotVault/Core/QRCode/QRCodeImageGenerator.swift
  ios/PolkadotVault/Design/Spacing.swift
  ios/PolkadotVault/Modals/ExportPrivateKey/ExportPrivateKeyModal.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/PolkadotVault/Screens/Onboarding/Airgap/AirgapMediator.swift
  ios/PolkadotVault/Screens/Onboarding/Airgap/AirgapMediatorAssembler.swift
  ios/PolkadotVault/Screens/Onboarding/Airgap/OnboardingAirgapView.swift
  ios/PolkadotVault/Screens/Onboarding/OnboardingScreenshotsView.swift
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyView.swift
Labels: ios

#1655 chore: ios: cleanup unused copy
  ios/PolkadotVault/Cards/AddressCard.swift
  ios/PolkadotVault/Components/Buttons/NavbarActionButton.swift
  ios/PolkadotVault/Components/Extensions/Text+Markdown.swift
  ios/PolkadotVault/Components/NavigationBarView.swift
  ios/PolkadotVault/Models/Documents.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/SelectSeedForBackup.swift
Labels: ios

#1657 feat: ios: update recover seed screens
  ios/PolkadotVault/Core/Navigation/NavigationCoordinator.swift
  ios/PolkadotVault/Models/Utils.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/CreateKey/RecoverSeedName.swift
  ios/PolkadotVault/Screens/CreateKey/RecoverSeedPhrase.swift
Labels: UI, ios

#1656 feat: Android onboarding - new documents and screen lock sheck
  android/src/main/AndroidManifest.xml
  android/src/main/java/io/parity/signer/components/Documents.kt
  android/src/main/java/io/parity/signer/components/base/CheckboxWithText.kt
  android/src/main/java/io/parity/signer/components/documents/InstructionsSquare.kt
  android/src/main/java/io/parity/signer/components/documents/PP.kt
  android/src/main/java/io/parity/signer/components/documents/TOS.kt
  android/src/main/java/io/parity/signer/domain/Authentication.kt
  android/src/main/java/io/parity/signer/domain/NavigationMigrations.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetItem.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetsScreen.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetItemMultiselect.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetsMultiselectScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/EachStartSubgraphScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/EachStartViewModel.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/airgap/EnableAirgapScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/screenlock/SetScreenLockScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/termsconsent/DocumentsOnboardingScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/termsconsent/TermsConsentScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/SettingsScreen.kt
  android/src/main/java/io/parity/signer/ui/RootNavigationGraph.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreensSelectorsLegacy.kt
  android/src/main/res/values/strings.xml
Labels: android

#1659 feat: ios: connectivity alert when accessing backup from settings list
  ios/PolkadotVault/Screens/Settings/SettingsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Backup/BackupSelectKeyView.swift
Labels: UX, ios

#1660 fix: ios: png support
  ios/PolkadotVault/Backend/ExportPrivateKeyService.swift
  ios/PolkadotVault/Cards/HistoryCardExtended.swift
  ios/PolkadotVault/Components/Image/Identicon.swift
  ios/PolkadotVault/Components/Image/NetworkIdenticon.swift
  ios/PolkadotVault/Components/QRCode/QRCodeAddressFooterView.swift
  ios/PolkadotVault/Components/Rows/DerivedKeyOverviewRow.swift
  ios/PolkadotVault/Extensions/Models/SignerImage+Helpers.swift
  ios/PolkadotVault/Previews/PreviewData+Components.swift
  ios/PolkadotVault/Screens/KeyDetails/Models/DerivedKeyRowModel.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/DerivedKeyRow.swift
  ios/PolkadotVault/Screens/KeySetsList/KeySetListViewModelBuilder.swift
  ios/PolkadotVault/Screens/KeySetsList/KeySetRow.swift
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyViewModel.swift
  ios/PolkadotVault/Screens/Scan/Models/TransactionSummaryModels.swift
Labels: UI, ios
