Repository novasamatech/parity-signer, pull requests merged in 2023-03, with the labels that each got.

#1670 feat: Android root check
  android/src/main/AndroidManifest.xml
  android/src/main/java/io/parity/signer/components/base/CheckboxWithText.kt
  android/src/main/java/io/parity/signer/domain/NetworkExposedStateKeeper.kt
  android/src/main/java/io/parity/signer/domain/RootUtils.kt
  android/src/main/java/io/parity/signer/domain/SharedViewModel.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/EachStartSubgraphScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/EachStartViewModel.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/airgap/AirGapViewModel.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/airgap/AirgapScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/airgap/EnableAirgapScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/rootcheck/RootExposedScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/splash/SplashScreenViewModel.kt
  android/src/main/java/io/parity/signer/ui/theme/Color.kt
  android/src/main/res/values/strings.xml
Labels: android

#1673 feat: Android keys design update
  android/src/main/java/io/parity/signer/components/base/ScreenBaseComponents.kt
  android/src/main/java/io/parity/signer/components/items/KeyDerivedItem.kt
  android/src/main/java/io/parity/signer/screens/createderivation/derivationsubscreens/DerivationPathScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/SeedKeyDetails.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetItem.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetItemMultiselect.kt
Labels: android

#1671 fix: android: workaround while #1618 is not merged
  android/src/main/java/io/parity/signer/domain/SharedViewModel.kt
Labels: android

#1682 fix: Android fixes from last testing
  android/src/main/java/io/parity/signer/components/base/Buttons.kt
  android/src/main/java/io/parity/signer/domain/SharedViewModel.kt
  android/src/main/java/io/parity/signer/domain/storage/SeedStorage.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetsNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/EachStartSubgraphScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/EachStartViewModel.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/airgap/AirgapScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/SettingsScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/SettingsWipeConfirmation.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreenSelectorsNew.kt
  android/src/main/res/values/strings.xml
  build.gradle
Labels: android

#1683 fix: Android testing fixes 2
  android/src/main/java/io/parity/signer/bottomsheets/sufficientcrypto/SufficientCryptoReady.kt
  android/src/main/java/io/parity/signer/bottomsheets/sufficientcrypto/SufficientCryptoReadyViewModel.kt
  android/src/main/java/io/parity/signer/components/items/KeyDerivedItem.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/domain/SeedExtensions.kt
  android/src/main/java/io/parity/signer/domain/SharedViewModel.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/SeedbBackupItems.kt
  android/src/main/res/values/strings.xml
Labels: android

#1688 feat: ios: recover seed phrase update
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Design/Heights.swift
  ios/PolkadotVault/Modifiers/InlineTextField.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/CreateKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/EnterKeySetNameView.swift
  ios/PolkadotVault/Screens/CreateKey/RecoverKeySet/RecoverKeySetNameView.swift
  ios/PolkadotVault/Screens/CreateKey/RecoverKeySet/RecoverKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/CreateKey/RecoverSeedPhrase.swift
  ios/PolkadotVault/Screens/CreateKey/WrappingHStack.swift
  ios/PolkadotVault/Screens/ScreenSelector.swift
  rust/db_handling/src/interface_signer.rs
Labels: UI, UX, ios

#1689 chore: ios: update metadata portal links
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
Labels: UI, ios

#1690 feat: ios: error handling for seed phrase recovery
  ios/PolkadotVault/Core/Keychain/SeedsMediator.swift
  ios/PolkadotVault/Modals/Errors/ErrorBottomModalViewModel.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/CreateKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/CreateKey/RecoverKeySet/RecoverKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/Scan/BananaSplit/EnterBananaSplitPasswordModal.swift
Labels: UI, ios

#1692 chore: ios: capitalise network name everywhere but during import
  ios/PolkadotVault/Components/Text/NetworkCapsuleView.swift
  ios/PolkadotVault/Modals/NetworkSelection/NetworkSelectionModal.swift
  ios/PolkadotVault/Screens/DerivedKey/CreateDerivedKeyView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/ChooseNetworkForKeyView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSelectionSettings.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
Labels: UI, UX, ios

#1696 fix: ios: unable to delete network
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
Labels: ios

#1698 fix: android all alerts usage and #1695
  android/src/main/java/io/parity/signer/components/AlertComponent.kt
Labels: android

#1697 feat: Android handle transaction errors in a new way
  android/src/main/java/io/parity/signer/PolkadotVaultApp.kt
  android/src/main/java/io/parity/signer/backend/UniffiInteractor.kt
  android/src/main/java/io/parity/signer/dependencygraph/ServiceLocator.kt
  android/src/main/java/io/parity/signer/domain/Navigation.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanViewModel.kt
  android/src/main/java/io/parity/signer/screens/scan/bananasplit/BananaSplitViewModel.kt
  android/src/main/java/io/parity/signer/screens/scan/elements/ScanGenericErrorBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/scan/errors/TransactionErrorsEmbedded.kt
  android/src/main/java/io/parity/signer/screens/scan/errors/TransactionErrorsInstances.kt
  android/src/main/java/io/parity/signer/screens/scan/errors/TransactionErrorsModels.kt
  android/src/main/java/io/parity/signer/screens/scan/errors/TransactionErrorsViews.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/TransactionsScreenFull.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreenSelectorsNew.kt
  android/src/main/res/values/strings.xml
Labels: android

#1702 chore: ios: technical refactor for SharedDataModel (old SignerDataModel from RustNative.swift)
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Backend/NavigationInitialisationService.swift
  ios/PolkadotVault/Cards/AddressCard.swift
  ios/PolkadotVault/Cards/SeedCardForManager.swift
  ios/PolkadotVault/Components/DerivationPathComponents.swift
  ios/PolkadotVault/Components/Errors/ConnectivityAlertOverlay.swift
  ios/PolkadotVault/Components/NavigationBarView.swift
  ios/PolkadotVault/Core/Database/DatabaseMediator.swift
  ios/PolkadotVault/Core/Keychain/KeychainAccessAdapter.swift
  ios/PolkadotVault/Core/Keychain/SeedsMediator.swift
  ios/PolkadotVault/Core/ServiceLocator.swift
  ios/PolkadotVault/Extensions/AttributedString+Markdown.swift
  ios/PolkadotVault/Extensions/Models/Verifier+Show.swift
  ios/PolkadotVault/Extensions/Models/VerifierValue+Show.swift
  ios/PolkadotVault/Helpers/BackendConstants.swift
  ios/PolkadotVault/Modals/Deprecated/SelectSeed.swift
  ios/PolkadotVault/Models/Documents.swift
  ios/PolkadotVault/Models/SharedDataModel.swift
  ios/PolkadotVault/Models/Utils.swift
  ios/PolkadotVault/PolkadotVaultApp.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/Screens/Containers/MainScreenContainer.swift
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/CreateKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/CreateKey/RecoverKeySet/RecoverKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/Errors/DevicePincodeRequiredView.swift
  ios/PolkadotVault/Screens/Errors/UnlockDeviceView.swift
  ios/PolkadotVault/Screens/Factories/MainScreensFactory.swift
  ios/PolkadotVault/Screens/Factories/ModalFactory.swift
  ios/PolkadotVault/Screens/KeyDetails/Actions/ForgetKeySetAction.swift
  ios/PolkadotVault/Screens/KeyDetails/Actions/ForgetSingleKeyAction.swift
  ios/PolkadotVault/Screens/KeyDetails/Actions/ResetConnectivtyWarningsAction.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/PolkadotVault/Screens/KeySetsList/KeySetList.swift
  ios/PolkadotVault/Screens/Logs/Views/LogsListView.swift
  ios/PolkadotVault/Screens/Onboarding/OnboardingScreenshotsView.swift
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/PolkadotVault/Screens/Scan/BananaSplit/EnterBananaSplitPasswordModal.swift
  ios/PolkadotVault/Screens/Scan/Services/CameraService.swift
  ios/PolkadotVault/Screens/Scan/TransactionDetailsView.swift
  ios/PolkadotVault/Screens/Scan/TransactionPreview.swift
  ios/PolkadotVault/Screens/SelectSeedForBackup.swift
  ios/PolkadotVault/Screens/Settings/SettingsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Backup/BackupSelectKeyView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
  ios/PolkadotVault/Screens/Settings/Subviews/VerfierCertificateView.swift
  ios/PolkadotVault/Screens/Terms/PrivacyPolicyView.swift
  ios/PolkadotVault/Screens/Terms/TermsOfServiceView.swift
  ios/PolkadotVault/Screens/Terms/TextResources.swift
  ios/PolkadotVault/StateMediators/AppLaunchMediator.swift
  ios/PolkadotVault/StateMediators/AuthenticatedStateMediator.swift
  ios/PolkadotVault/StateMediators/OnboardingMediator.swift
  ios/PolkadotVault/StateMediators/WarningStateMediator.swift
Labels: ios, work in progress

#1709 feat: update keyset details menu options as per modern figma
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsMenu.kt
  android/src/main/res/values/strings.xml
Labels: android

#1708 feat: Android identicon with network and keysets
  android/src/main/java/io/parity/signer/components/IdentIconWithNetwork.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar2.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/domain/Models.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsMultiselectScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/KeyDerivedItem.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/KeyDerivedItemMultiselect.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/NetworkKeysElementExpandable.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetItem.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetItem2.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetsScreen.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetItemMultiselect.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetsMultiselectScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/airgap/AirgapScreen.kt
Labels: android

#1720 feat: ios: onboarding scanning
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Components/Backgrounds/RoundedContainerBackground.swift
  ios/PolkadotVault/Design/Heights.swift
  ios/PolkadotVault/Extensions/Localizable+Formatted.swift
  ios/PolkadotVault/Resources/Assets.xcassets/network_preview_icons.imageset/Contents.json
  ios/PolkadotVault/Resources/Assets.xcassets/network_preview_icons.imageset/Group 23.png
  ios/PolkadotVault/Resources/Assets.xcassets/network_preview_icons.imageset/Group 23@2x.png
  ios/PolkadotVault/Resources/Assets.xcassets/network_preview_icons.imageset/Group 23@3x.png
  ios/PolkadotVault/Resources/Assets.xcassets/network_preview_icons.imageset/Group 24.png
  ios/PolkadotVault/Resources/Assets.xcassets/network_preview_icons.imageset/Group 24@2x.png
  ios/PolkadotVault/Resources/Assets.xcassets/network_preview_icons.imageset/Group 24@3x.png
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/Containers/MainScreenContainer.swift
  ios/PolkadotVault/Screens/Onboarding/Airgap/OnboardingAirgapView.swift
  ios/PolkadotVault/Screens/Onboarding/OnboardingAgreementsView.swift
  ios/PolkadotVault/Screens/Onboarding/OnboardingScreenshotsView.swift
  ios/PolkadotVault/Screens/Onboarding/OnboardingState.swift
  ios/PolkadotVault/Screens/Onboarding/SetUpNetworks/SetUpNetworksIntroView.swift
  ios/PolkadotVault/Screens/Onboarding/SetUpNetworks/SetUpNetworksStepOneView.swift
  ios/PolkadotVault/Screens/Onboarding/SetUpNetworks/SetUpNetworksStepTwoView.swift
Labels: UI, UX, ios

#1726 chore: ios: update formatting to newest SwiftFormat
  ios/PolkadotVault/Backend/CreateDerivedKeyService.swift
  ios/PolkadotVault/Cards/TransactionCards/TCCall.swift
  ios/PolkadotVault/Cards/TransactionCards/TCEnumVariantName.swift
  ios/PolkadotVault/Cards/TransactionCards/TCFieldName.swift
  ios/PolkadotVault/Cards/TransactionCards/TCFieldNumber.swift
  ios/PolkadotVault/Components/Animators/TapAndDelayDismissAnimator.swift
  ios/PolkadotVault/Components/CircularProgressView.swift
  ios/PolkadotVault/Modifiers/KeyboardAvoidance.swift
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/EnterKeySetNameView.swift
  ios/PolkadotVault/Screens/CreateKey/RecoverKeySet/RecoverKeySetNameView.swift
  ios/PolkadotVault/Screens/CreateKey/WrappingHStack.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/DerivationPathNameView.swift
  ios/PolkadotVault/Screens/KeySetsList/KeyListMoreMenuModal.swift
  ios/PolkadotVault/Screens/Onboarding/Overview/OnboardingOverviewView.swift
  ios/PolkadotVault/Screens/Onboarding/Overview/PaginatedScrollView.swift
  ios/PolkadotVault/Screens/Scan/CameraView.swift
  ios/PolkadotVault/Screens/Scan/Services/CameraService.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Backup/SettingsBackupModal.swift
  ios/PolkadotVault/Screens/SignatureReady.swift
Labels: ios

#1722 feat: Android netoworks redesign
  android/src/main/java/io/parity/signer/bottomsheets/ManageMetadata.kt
  android/src/main/java/io/parity/signer/bottomsheets/NetworkDetailsMenu.kt
  android/src/main/java/io/parity/signer/components/base/ScreenBaseComponents.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar2.kt
  android/src/main/java/io/parity/signer/components/panels/BottomStateExtensions.kt
  android/src/main/java/io/parity/signer/screens/ManageNetworks.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateSubgraph.kt
  android/src/main/java/io/parity/signer/screens/networks/NetworkDetails.kt
  android/src/main/java/io/parity/signer/screens/networks/details/MetadataCardOld.kt
  android/src/main/java/io/parity/signer/screens/networks/details/NetworkDetails.kt
  android/src/main/java/io/parity/signer/screens/networks/details/NetworkDetailsModels.kt
  android/src/main/java/io/parity/signer/screens/networks/details/NetworkDetailsSubgraph.kt
  android/src/main/java/io/parity/signer/screens/networks/details/menu/ConfirmRemoveBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/networks/details/menu/NetworkDetailsMenu.kt
  android/src/main/java/io/parity/signer/screens/networks/list/NetworksList.kt
  android/src/main/java/io/parity/signer/screens/networks/list/TypesInfo.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/components/TransactionElementSelector.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/components/TransactionSummaryView.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/separatescreens/MetadataUpdatedScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/separatescreens/TransactionSignScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/transactionElements/TCAddNetwork.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/transactionElements/TCMeta.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/transactionElements/TCVerifier.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreensSelectorsLegacy.kt
  android/src/main/res/values/strings.xml
Labels: android

#1728 feat: Android keyset details multiselect redesignet to current figma
  android/src/main/java/io/parity/signer/components/base/ScreenBaseComponents.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsMultiselectScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/KeyDerivedItemMultiselect.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/NetworkKeysExpandable.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/NetworkKeysExpandableMultiselect.kt
Labels: android

#1717 fix: Android most important minor fixes from last design review
  android/src/main/java/io/parity/signer/bottomsheets/password/EnterPassword.kt
  android/src/main/java/io/parity/signer/components/Networklabel.kt
  android/src/main/java/io/parity/signer/components/RestoreSeedPhraseBox.kt
  android/src/main/java/io/parity/signer/components/panels/TopBar.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCardSimple.kt
  android/src/main/java/io/parity/signer/domain/Models.kt
  android/src/main/java/io/parity/signer/screens/RecoverSeedName.kt
  android/src/main/java/io/parity/signer/screens/RecoverSeedPhrase.kt
  android/src/main/java/io/parity/signer/screens/createderivation/derivationsubscreens/DeriveKeyBaseScreen.kt
  android/src/main/java/io/parity/signer/screens/keydetails/exportprivatekey/PrivateKeyExportBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/KeyDerivedItem.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/KeyDerivedItemMultiselect.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeySetBackupScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/components/TransactionSummaryModels.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/components/TransactionSummaryView.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/transactionElements/TCAddNetwork.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/transactionElements/TCImportDerivatoins.kt
Labels: android

#1729 feat: Android settings backup
  android/src/main/java/io/parity/signer/components/base/BottomSheetHeader.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/CircularCountDownTimer.kt
  android/src/main/java/io/parity/signer/domain/SeedExtensions.kt
  android/src/main/java/io/parity/signer/domain/storage/SeedStorageOld.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/BackupPhraseBox.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/KeySetBackup.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/backup/KeySetBackupItems.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeySetBackupScreen.kt
  android/src/main/java/io/parity/signer/screens/networks/details/MetadataCardOld.kt
  android/src/main/java/io/parity/signer/screens/settings/SettingsScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/backup/SeedBackupBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/settings/backup/SeedBackupIntegrated.kt
  android/src/main/java/io/parity/signer/screens/settings/backup/SeedBackupScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/backup/SeedBackupViewModel.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/details/NetworkDetails.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/details/NetworkDetailsModels.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/details/NetworkDetailsSubgraph.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/details/menu/ConfirmRemoveBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/details/menu/NetworkDetailsMenu.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/list/NetworksList.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/list/TypesInfo.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreenSelectorsNew.kt
  android/src/main/res/values/strings.xml
Labels: android

#1731 feat: ios: Sign specs list update
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Cards/AddressCard.swift
  ios/PolkadotVault/Cards/NetworkCard.swift
  ios/PolkadotVault/Cards/TransactionCards/TCNetworkInfo.swift
  ios/PolkadotVault/Components/NavigationBarView.swift
  ios/PolkadotVault/Core/Navigation/NavigationCoordinator.swift
  ios/PolkadotVault/Design/Heights.swift
  ios/PolkadotVault/Modals/Deprecated/SufficientCryptoReady.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/Screens/Factories/MainScreensFactory.swift
  ios/PolkadotVault/Screens/Factories/ModalFactory.swift
  ios/PolkadotVault/Screens/Scan/TransactionSummaryView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/SignSpecs/SignSpecDetailsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/SignSpecs/SignSpecsListView.swift
  ios/PolkadotVault/Screens/SignSufficientCrypto.swift
  rust/db_handling/src/interface_signer.rs
  rust/db_handling/tests/tests.rs
  rust/definitions/src/navigation.rs
  rust/navigator/src/navstate.rs
  rust/navigator/src/tests.rs
  rust/signer/src/signer.udl
Labels: backend, ios

#1735 fix: android camera recognition improvements
  android/src/main/java/io/parity/signer/screens/scan/camera/CameraCutout.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/ScanProgressBar.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/ScanScreen.kt
Labels: android

#1734 fix: Android design review and release fixes
  android/src/main/java/io/parity/signer/components/base/CheckboxWithText.kt
  android/src/main/java/io/parity/signer/components/base/ScreenBaseComponents.kt
  android/src/main/java/io/parity/signer/components/exposesecurity/ShieldAlert.kt
  android/src/main/java/io/parity/signer/components/networkicon/NetworkIcon.kt
  android/src/main/java/io/parity/signer/screens/createderivation/derivationsubscreens/DerivationPathScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsMultiselectScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/KeyDerivedItem.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/KeyDerivedItemMultiselect.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/NetworkKeysExpandable.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/NetworkKeysExpandableMultiselect.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetsNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeySetBackupScreen.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeySetMenu.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeySetNameScreen.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetsMultiselectScreen.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/airgap/AirgapScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/bananasplit/BananaSplitPasswordScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/TransactionDetailsScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/TransactionsScreenFull.kt
  android/src/main/res/values/strings.xml
Labels: android

#1738 feat: android camera cutout increased according to feedback
  android/src/main/java/io/parity/signer/screens/scan/camera/CameraCutout.kt
Labels: android

#1739 fix: Android copy typo
  android/src/main/java/io/parity/signer/screens/scan/transaction/TransactionsScreenFull.kt
Labels: android

#1747 feat: android updated dependencies
  android/build.gradle
  android/src/main/java/io/parity/signer/components/sharedcomponents/CircularCountDownTimer.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenFull.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportScreenFull.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetsNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeySetBackupScreenFull.kt
  android/src/main/java/io/parity/signer/screens/keysets/export/KeySetsExportScreenFull.kt
  build.gradle
Labels: android

#1746 fix: android excessive caching for networks list
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateViewModel.kt
Labels: android

#1748 feat: ios: support enter password modal flow for signing network specs / metadata
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Core/Navigation/NavigationCoordinator.swift
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/Screens/Factories/ModalFactory.swift
  ios/PolkadotVault/Screens/Settings/Subviews/SignSpecs/SignSpecDetailsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/SignSpecs/SignSpecEnterPasswordModal.swift
  ios/PolkadotVault/Screens/Settings/Subviews/SignSpecs/SignSpecsListView.swift
Labels: ios

#1752 feat: updated app version to prepare release
  android/build.gradle
Labels: android

#1754 fix: Android UI fixes 3
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsMultiselectScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/SeedKeyDetails.kt
  android/src/main/java/io/parity/signer/screens/onboarding/eachstartchecks/airgap/AirgapScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/list/NetworksList.kt
Labels: android

#1757 chore: ios: remove deprecated modal and present remaining ones manually to avoid using centralised factory based on Rust navigation
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Cards/SeedCardForManager.swift
  ios/PolkadotVault/Modals/Deprecated/SelectSeed.swift
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/CreateKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/EnterKeySetNameView.swift
  ios/PolkadotVault/Screens/Factories/MainScreensFactory.swift
  ios/PolkadotVault/Screens/Factories/ModalFactory.swift
  ios/PolkadotVault/Screens/KeySetsList/KeySetList.swift
Labels: ios

#1758 chore: fix the sign_android script and dockerfile
  docker/Dockerfile
  scripts/sign_android.sh
Labels: android
