Repository novasamatech/parity-signer, pull requests merged in 2023-04, with the labels that each got.

#1763 chore: ios: public key details refactor to include view model and proper architecture
  ios/.swiftlint.yml
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Backend/ExportPrivateKeyService.swift
  ios/PolkadotVault/Design/Spacing.swift
  ios/PolkadotVault/Modals/ExportKeys/ExportMultipleKeysModal.swift
  ios/PolkadotVault/Modals/ExportPrivateKey/ExportPrivateKeyModal.swift
  ios/PolkadotVault/Previews/PreviewData+Components.swift
  ios/PolkadotVault/Screens/Factories/MainScreensFactory.swift
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyViewModel.swift
Labels: ios

#1765 feat: ios: Move Logs to Settings and update tab bar
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Components/TabBar/Builders/TabViewModelBuilder.swift
  ios/PolkadotVault/Components/TabBar/TabBarView.swift
  ios/PolkadotVault/Components/TabBar/ViewModels/Tab.swift
  ios/PolkadotVault/Core/Data/AppState.swift
  ios/PolkadotVault/Design/Heights.swift
  ios/PolkadotVault/Resources/Assets.xcassets/tabbar/tabbar_logs.imageset/Contents.json
  ios/PolkadotVault/Resources/Assets.xcassets/tabbar/tabbar_logs.imageset/tabbar_logs.svg
  ios/PolkadotVault/Resources/Assets.xcassets/tabbar/tabbar_logs_selected.imageset/Contents.json
  ios/PolkadotVault/Resources/Assets.xcassets/tabbar/tabbar_logs_selected.imageset/tabbar_logs_selected.svg
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/Screens/Factories/MainScreensFactory.swift
  ios/PolkadotVault/Screens/Logs/Views/LogsListView.swift
  ios/PolkadotVault/Screens/Settings/SettingsItem.swift
  ios/PolkadotVault/Screens/Settings/SettingsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/VerifierCertificate/VerfierCertificateView.swift
  ios/PolkadotVaultTests/Components/TabBar/TabTests.swift
  ios/PolkadotVaultTests/Components/TabBar/TabViewModelBuilderTests.swift
  ios/PolkadotVaultTests/Core/Navigation/NavigationCoordinatorTests.swift
Labels: UI, UX, ios

#1766 feat: Android verifier certificate redesign
  android/src/main/java/io/parity/signer/components/base/BottomSheetDialogs.kt
  android/src/main/java/io/parity/signer/components/base/Buttons.kt
  android/src/main/java/io/parity/signer/domain/Models.kt
  android/src/main/java/io/parity/signer/screens/settings/ConfirmFactorySettingsBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/settings/SettingsScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/VerifierScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/details/NetworkDetailsScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/details/menu/ConfirmRemoveBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/list/NetworksListScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/verifiercert/SettingsWipeConfirmation.kt
  android/src/main/java/io/parity/signer/screens/settings/verifiercert/VerifierScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/verifiercert/VerifierScreenFull.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreensSelectorsLegacy.kt
  android/src/main/res/values/strings.xml
Labels: android

#1764 fix: Android scan improvement
  android/build.gradle
  android/src/main/java/io/parity/signer/screens/scan/camera/CameraCutout.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/CameraView.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/CameraViewModel.kt
Labels: android

#1767 feat: Android key component update
  android/src/main/java/io/parity/signer/components/networkicon/NetworkIcon.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/screens/keydetails/KeyDetailsPublicKeyScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportResultBottomSheet.kt
Labels: android

#1768 feat: updated version for release
  android/build.gradle
Labels: android

#1783 fix: Android transaction with no logo for network
  android/build.gradle
  android/src/main/java/io/parity/signer/components/AutosizeText.kt
  android/src/main/java/io/parity/signer/components/Networklabel.kt
  android/src/main/java/io/parity/signer/components/networkicon/NetworkIcon.kt
  android/src/main/java/io/parity/signer/domain/UnifiiStubs.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanNavSubgraph.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/TransactionsScreenFull.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/transactionElements/TCAddNetwork.kt
Labels: android

#1770 docs: Update "Official Website" URL
  README.md
Labels: documentation

#1786 feat: ios: create key set native navigation
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Backend/CreateKeySetService.swift
  ios/PolkadotVault/Backend/KeyListService.swift
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/CreateKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/EnterKeySetNameView.swift
  ios/PolkadotVault/Screens/Factories/MainScreensFactory.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/PolkadotVault/Screens/KeySetsList/AddKeySetModal.swift
  ios/PolkadotVault/Screens/KeySetsList/KeySetList.swift
  ios/PolkadotVault/Screens/Logs/Views/LogDetailsView.swift
  ios/PolkadotVault/Screens/Logs/Views/LogsListView.swift
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/PolkadotVault/Screens/Scan/CameraView.swift
  ios/PolkadotVault/Screens/Settings/SettingsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
Labels: ios

#1789 fix: ios: fix metadata portal links in onboarding
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
Labels: ios

#1791 feat: ios: native navigation for Restore Key Set flow
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Backend/RecoverKeySetService.swift
  ios/PolkadotVault/Screens/CreateKey/RecoverKeySet/RecoverKeySetNameView.swift
  ios/PolkadotVault/Screens/CreateKey/RecoverKeySet/RecoverKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/DerivationPathNameView.swift
  ios/PolkadotVault/Screens/Factories/MainScreensFactory.swift
  ios/PolkadotVault/Screens/KeySetsList/AddKeySetModal.swift
  ios/PolkadotVault/Screens/KeySetsList/KeySetList.swift
Labels: UX, ios

#1793 feat: Android logs
  android/src/main/java/io/parity/signer/backend/UniffiInteractor.kt
  android/src/main/java/io/parity/signer/bottomsheets/LogComment.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar.kt
  android/src/main/java/io/parity/signer/components/panels/BottomBar2.kt
  android/src/main/java/io/parity/signer/components/panels/BottomStateExtensions.kt
  android/src/main/java/io/parity/signer/domain/Helpers.kt
  android/src/main/java/io/parity/signer/domain/storage/SeedRepository.kt
  android/src/main/java/io/parity/signer/screens/createderivation/derivationsubscreens/DerivationPathScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/keysets/KeySetsScreen.kt
  android/src/main/java/io/parity/signer/screens/logs/LogModelsExtentions.kt
  android/src/main/java/io/parity/signer/screens/logs/logdetails/LogDetails.kt
  android/src/main/java/io/parity/signer/screens/settings/SettingsScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/backup/SeedBackupScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/LogModelsExtentions.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/LogsSubgraph.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/LogsViewModel.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/comment/AddLogCommentScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/items/LogItem.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logdetails/HIstoryCardTemplateOld.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logdetails/HistoryCardExtended.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logdetails/LogDetails.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logdetails/LogsDetailsViewModel.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logslist/LogsMenu.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logslist/LogsScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logslist/LogsScreenFull.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/list/NetworksListScreen.kt
  android/src/main/java/io/parity/signer/ui/MainScreensAppFlow.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreenSelectorsNew.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreensSelectorsLegacy.kt
  android/src/main/res/drawable/ic_view_agenda_filled_24.xml
  android/src/main/res/drawable/ic_view_agenda_outlined_24.xml
  android/src/main/res/values/strings.xml
Labels: android

#1794 fix: keyset details menu refactoring
  android/src/main/java/io/parity/signer/screens/keydetails/KeyDetailsMenu.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsMenu.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenFull.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanViewModel.kt
Labels: android

#1799 feat: ios: Public Key design update
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Backend/ExportPrivateKeyService.swift
  ios/PolkadotVault/Components/QRCode/QRCodeAddressFooterView.swift
  ios/PolkadotVault/Components/Text/NetworkIconCapsuleView.swift
  ios/PolkadotVault/Design/PrimaryFont.swift
  ios/PolkadotVault/Modals/ExportKeys/ExportMultipleKeysModal.swift
  ios/PolkadotVault/Previews/PreviewData+Components.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/DerivedKey/CreateDerivedKeyView.swift
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyView.swift
Labels: UI, UX, ios

#1804 feat: ios: update empty path capitalisation and presentation on Public Key Details
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyView.swift
Labels: UI, ios

#1807 feat: public key empty derivation placeholder added
  android/src/main/java/io/parity/signer/screens/keydetails/KeyDetailsPublicKeyScreen.kt
  android/src/main/res/values/strings.xml
Labels: UI, android

#1806 feat: update qr code color
  rust/constants/src/lib.rs
Labels: UI, android

#1811 feat: Android create derivation update
  android/src/main/java/io/parity/signer/bottomsheets/TestBottomSheet.kt
  android/src/main/java/io/parity/signer/components/IdentIcon.kt
  android/src/main/java/io/parity/signer/components/base/ScreenBaseComponents.kt
  android/src/main/java/io/parity/signer/components/panels/BottomStateExtensions.kt
  android/src/main/java/io/parity/signer/domain/NavigationMigrations.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateSubgraph.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateViewModel.kt
  android/src/main/java/io/parity/signer/screens/createderivation/derivationsubscreens/DerivationCreateConfirmBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/createderivation/derivationsubscreens/DeriveKeyBaseScreen.kt
  android/src/main/java/io/parity/signer/screens/createderivation/derivationsubscreens/DeriveKeyNetworkSelectScreen.kt
  android/src/main/java/io/parity/signer/screens/createderivation/derivationsubscreens/NetworkSelectionBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/createderivation/help/DerivationKeysHelpBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/createderivation/help/DerivationPathHelpBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenView.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeySetNameScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/bananasplit/BananaSplitPasswordScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/comment/AddLogCommentScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/details/NetworkDetailsScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/details/NetworkDetailsSubgraph.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/helper/HowAddNetworks.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/helper/HowUpdateMetadata.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/helper/NetworkHelpersSubgraph.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/list/NetworksListScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/list/NetworksListSubgraph.kt
  android/src/main/java/io/parity/signer/ui/rustnavigationselectors/ScreenSelectorsNew.kt
  android/src/main/res/values/strings.xml
Labels: UI, android

#1800 feat: ios: native navigation key set
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Backend/KeyDetailsActionService.swift
  ios/PolkadotVault/Backend/PublicKeyDetailsService.swift
  ios/PolkadotVault/Core/Data/AppState.swift
  ios/PolkadotVault/Core/Navigation/NavigationCoordinator.swift
  ios/PolkadotVault/Core/ServiceLocator.swift
  ios/PolkadotVault/Modals/ExportPrivateKey/ExportPrivateKeyModal.swift
  ios/PolkadotVault/Modals/KeySet/KeyDetailsActionsModal.swift
  ios/PolkadotVault/Modals/KeySet/PublicKeyActionsModal.swift
  ios/PolkadotVault/PolkadotVaultApp.swift
  ios/PolkadotVault/Screens/DerivedKey/CreateDerivedKeyView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/CreateDerivedKeyConfirmationView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/DerivationPathNameView.swift
  ios/PolkadotVault/Screens/Factories/MainScreensFactory.swift
  ios/PolkadotVault/Screens/KeyDetails/Actions/ForgetKeySetAction.swift
  ios/PolkadotVault/Screens/KeyDetails/Actions/ForgetSingleKeyAction.swift
  ios/PolkadotVault/Screens/KeyDetails/Models/DerivedKeyRowModel.swift
  ios/PolkadotVault/Screens/KeyDetails/Models/MKeyAndNetworkCard+PathAndNetwork.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/PolkadotVault/Screens/KeySetsList/AddKeySetModal.swift
  ios/PolkadotVault/Screens/KeySetsList/KeySetList.swift
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyViewModel.swift
  ios/PolkadotVault/Screens/Settings/SettingsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
Labels: UX, ios, work in progress

#1814 feat: ios: native navigation for Sign Sufficient
  ios/PolkadotVault/Backend/ManageNetworkDetailsService.swift
  ios/PolkadotVault/Core/Data/AppState.swift
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/Screens/Logs/Views/LogEntryView.swift
  ios/PolkadotVault/Screens/Settings/SettingsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
  ios/PolkadotVault/Screens/Settings/Subviews/SignSpecs/SignSpecDetailsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/SignSpecs/SignSpecEnterPasswordModal.swift
  ios/PolkadotVault/Screens/Settings/Subviews/SignSpecs/SignSpecsListView.swift
Labels: UI, ios
