Repository novasamatech/parity-signer, pull requests merged in 2023-11, with the labels that each got.

#2163 feat: android update export keys design
  android/src/main/java/io/parity/signer/components/networkicon/IdentIconImage.kt
  android/src/main/java/io/parity/signer/components/networkicon/IdentIconWithNetwork.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsExportResultBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/export/KeySetDetailsMultiselectBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/exportroot/KeySetRootExportBottomSheet.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/items/SeedKeyDetails.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/seedselectmenu/KeySetItem.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/transactionElements/TCAuthorPublicKey.kt
  android/src/main/java/io/parity/signer/screens/scan/transaction/transactionElements/TCTypesInfo.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logdetails/HistoryCardExtended.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/details/NetworkDetailsScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/signspecs/view/SignSpecsResultBottomSheet.kt
Labels: android

#2162 feat: android new derivation - shortcut option added
  android/src/main/java/io/parity/signer/components/base/CheckIcon.kt
  android/src/main/java/io/parity/signer/components/items/NetworkItems.kt
  android/src/main/java/io/parity/signer/domain/usecases/CreateDerivationUseCase.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateSubgraph.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateViewModel.kt
  android/src/main/java/io/parity/signer/screens/createderivation/derivationsubscreens/DeriveKeyNetworkSelectScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/splash/SplashScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsDestination.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/seedselectmenu/SeedSelectMenuView.kt
  android/src/main/res/drawable/ic_qe_code_24.xml
  android/src/main/res/values/strings.xml
Labels: android

#2166 feat: ios: update design for qr code button
  ios/PolkadotVault/Components/Buttons/QRCodeButton.swift
Labels: ios

#2161 feat: ios broken airgap flow
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Backend/NavigationServices/ScanTabService.swift
  ios/PolkadotVault/Backend/Services/CreateDerivedKeyService.swift
  ios/PolkadotVault/Backend/Services/ExportPrivateKeyService.swift
  ios/PolkadotVault/Components/Buttons/ActionButton.swift
  ios/PolkadotVault/Components/Buttons/ActionSheetCircleButton.swift
  ios/PolkadotVault/Components/Buttons/ConnectivityAlertButton.swift
  ios/PolkadotVault/Components/Camera/CameraPreview.swift
  ios/PolkadotVault/Components/Camera/CameraPreviewUIView.swift
  ios/PolkadotVault/Components/Errors/ConnectivityAlertOverlay.swift
  ios/PolkadotVault/Components/QRCode/AnimatedQRCodeView.swift
  ios/PolkadotVault/Core/Connectivity/ConnectivityMediator.swift
  ios/PolkadotVault/Core/Data/AppState.swift
  ios/PolkadotVault/Core/JailbreakDetectionPublisher.swift
  ios/PolkadotVault/Core/ServiceLocator.swift
  ios/PolkadotVault/Design/Heights.swift
  ios/PolkadotVault/Modals/Errors/ErrorBottomModal.swift
  ios/PolkadotVault/Modals/Errors/ErrorBottomModalViewModel.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/Screens/Containers/MainScreenContainer.swift
  ios/PolkadotVault/Screens/Errors/UnlockDeviceView.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/PolkadotVault/Screens/Logs/Views/LogsListView.swift
  ios/PolkadotVault/Screens/Onboarding/Airgap/NoAirgapView.swift
  ios/PolkadotVault/Screens/Onboarding/Airgap/OnboadingAirgapView+Components.swift
  ios/PolkadotVault/Screens/Onboarding/OnboardingState.swift
  ios/PolkadotVault/Screens/PublicKey/KeyDetailsPublicKeyView.swift
  ios/PolkadotVault/Screens/Settings/SettingsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Backup/BackupSelectKeyView.swift
  ios/PolkadotVault/StateMediators/OnboardingMediator.swift
  ios/PolkadotVault/StateMediators/WarningStateMediator.swift
Labels: ios

#2171 feat: ios: fix issue with delete key set
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
Labels: ios

#2165 feat: android airgap - new copy and a blocking flow
  android/src/main/java/io/parity/signer/components/base/CheckboxWithText.kt
  android/src/main/java/io/parity/signer/domain/MainFlowViewModel.kt
  android/src/main/java/io/parity/signer/screens/error/ErrorStateDestination.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/EachStartSubgraphScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/airgap/AirGapViewModel.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/airgap/AirgapScreen.kt
  android/src/main/java/io/parity/signer/ui/mainnavigation/CoreUnlockedNavSubgraph.kt
  android/src/main/java/io/parity/signer/ui/rootnavigation/MainScreensAppFlow.kt
  android/src/main/res/values/strings.xml
Labels: android

#2164 feat: Android wrong db schema screens
  android/src/main/java/io/parity/signer/domain/FeatureFlags.kt
  android/src/main/java/io/parity/signer/domain/storage/SeedRepository.kt
  android/src/main/java/io/parity/signer/domain/usecases/DBVersionValidationUseCase.kt
  android/src/main/java/io/parity/signer/screens/error/ErrorStateDestination.kt
  android/src/main/java/io/parity/signer/screens/error/ErrorStateScreenGeneral.kt
  android/src/main/java/io/parity/signer/screens/error/wrongversion/ErrorWrongUpdateScreen.kt
  android/src/main/java/io/parity/signer/screens/error/wrongversion/ErrorWrongVersionSubgraph.kt
  android/src/main/java/io/parity/signer/screens/error/wrongversion/FallbackRecoverPhraseScreen.kt
  android/src/main/java/io/parity/signer/screens/error/wrongversion/FallbackRecoverPhraseScreenFull.kt
  android/src/main/java/io/parity/signer/screens/error/wrongversion/FallbackRecoverPhraseViewModel.kt
  android/src/main/java/io/parity/signer/screens/initial/UnlockScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsViewModel.kt
  android/src/main/java/io/parity/signer/ui/mainnavigation/CoreUnlockedNavSubgraph.kt
  android/src/main/res/values/strings.xml
Labels: android

#2172 chore: ios: Remove App State
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Core/Data/AppState.swift
  ios/PolkadotVault/Core/Keychain/KeychainAccessAdapter.swift
  ios/PolkadotVault/Core/ServiceLocator.swift
  ios/PolkadotVault/Modals/NetworkSelection/NetworkSelectionModal.swift
  ios/PolkadotVault/PolkadotVaultApp.swift
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/Screens/DerivedKey/DerivationPathNameView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/DerivationMethodsInfoView.swift
  ios/PolkadotVault/Screens/KeyDetails/ExportKeys/ExportKeysSelectionModal.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetailsView.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/ManageKeySetsView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/VerifierCertificate/VerifierCertificateView.swift
Labels: ios

#2175 fix: ios: fix qr code for white theme
  ios/PolkadotVault/Components/Buttons/QRCodeButton.swift
Labels: ios

#2177 fix: Android recover tasks
  android/src/main/java/io/parity/signer/components/base/ScanIcon.kt
  android/src/main/java/io/parity/signer/screens/keysets/restore/restorephrase/EnterSeedPhraseBox.kt
  android/src/main/res/values/strings.xml
Labels: android

#2178 feat: update android build plugin version
  build.gradle
Labels: android

#2179 fix: android transaction animations for log statements
  android/src/main/java/io/parity/signer/screens/settings/logs/LogsSubgraph.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logdetails/LogDetails.kt
Labels: android

#2182 feat: ios: add feature flag functionality for dynamic derivations and QA build variation
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/PolkadotVault.xcodeproj/xcshareddata/xcschemes/PolkadotVault-Dev.xcscheme
  ios/PolkadotVault.xcodeproj/xcshareddata/xcschemes/PolkadotVault.xcscheme
  ios/PolkadotVault/Configuration/Debug.xcconfig
  ios/PolkadotVault/Configuration/Production.xcconfig
  ios/PolkadotVault/Configuration/QA.xcconfig
  ios/PolkadotVault/Core/Connectivity/ConnectivityMonitoringAssembler.swift
  ios/PolkadotVault/Core/JailbreakDetectionPublisher.swift
  ios/PolkadotVault/Core/Keychain/AccessControlProvidingAssembler.swift
  ios/PolkadotVault/Core/Runtime/RuntimePropertiesProvider.swift
  ios/PolkadotVault/Info.plist
  ios/PolkadotVault/Modals/Errors/ErrorBottomModalViewModel.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/Onboarding/Airgap/AirgapMediatorAssembler.swift
  ios/PolkadotVault/Screens/Scan/CameraView.swift
  ios/PolkadotVaultTests/Core/Connectivity/ConnectivityMonitoringAssemblerTests.swift
  ios/PolkadotVaultTests/Core/Keychain/AccessControlProvidingAssemblerTests.swift
  ios/PolkadotVaultTests/Core/Runtime/RuntimePropertiesProviderTests.swift
  ios/PolkadotVaultTests/Helpers/Mocks/RuntimePropertiesProvidingMock.swift
  ios/fastlane/Fastfile
  ios/fastlane/lanes/lane_tests.rb
Labels: ios

#2184 feat: Android export private key
  android/src/main/java/io/parity/signer/bottomsheets/password/EnterPassword.kt
  android/src/main/java/io/parity/signer/components/networkicon/dot/DotIconColors.kt
  android/src/main/java/io/parity/signer/components/networkicon/jdenticon/jdenticon_kotlin/Shapes.kt
  android/src/main/java/io/parity/signer/components/sharedcomponents/KeyCard.kt
  android/src/main/java/io/parity/signer/screens/keydetails/KeyDetailsScreenSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keydetails/KeyDetailsScreenViewModel.kt
  android/src/main/res/values/strings.xml
  build.gradle
Labels: android

#2185 feat: removing tell rust seed names from mobile clients
  android/src/main/java/io/parity/signer/domain/storage/SeedRepository.kt
  android/src/main/java/io/parity/signer/domain/storage/SeedStorage.kt
  ios/PolkadotVault/Core/Keychain/SeedsMediator.swift
Labels: ios, android

#2187 feat: android cleanup - removing navigation interface usage in places where it's obsolete
  android/src/main/java/io/parity/signer/domain/backend/SignSufficientCryptoInteractor.kt
  android/src/main/java/io/parity/signer/domain/storage/SeedRepository.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/backupstepscreens/NewKeysetSelectNetworkScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/backup/SeedBackupIntegrated.kt
Labels: android

#2190 chore: ios: remove unused logic and design for scan multiple
  ios/PolkadotVault/Core/Keychain/SeedsMediator.swift
  ios/PolkadotVault/Resources/Assets.xcassets/camera/scan_multiple.imageset/Contents.json
  ios/PolkadotVault/Resources/Assets.xcassets/camera/scan_multiple.imageset/Vector.svg
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/Scan/CameraView.swift
  ios/PolkadotVault/Screens/Scan/Services/CameraService.swift
Labels: ios

#2192 feat: android release v6.2.0
  android/build.gradle
Labels: android

#2196 feat: Android upd agp and copy
  android/src/main/res/values/strings.xml
  build.gradle
Labels: android

#2193 chore: ios: Clean ups and unit tests improvements
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault.xcodeproj/xcshareddata/xcschemes/PolkadotVault-Dev.xcscheme
  ios/PolkadotVault/Backend/Navigation/RootPresentationMode.swift
  ios/PolkadotVault/Core/ApplicationStatePublisher.swift
  ios/PolkadotVault/Core/Camera/CameraPermissionHandler.swift
  ios/PolkadotVault/Core/PasswordProtectionStatePublisher.swift
  ios/PolkadotVault/Core/Runtime/RuntimePropertiesProvider.swift
  ios/PolkadotVault/Protocols/ProcessInfoProtocol.swift
  ios/PolkadotVault/Screens/Settings/SettingsView.swift
  ios/PolkadotVaultTests/Core/ApplicationStatePublisherTests.swift
  ios/PolkadotVaultTests/Core/Camera/CameraPermissionHandlerTests.swift
  ios/PolkadotVaultTests/Core/Connectivity/ConnectivityMediatorTests.swift
  ios/PolkadotVaultTests/Core/Connectivity/ConnectivityMonitoringAdapterTests.swift
  ios/PolkadotVaultTests/Core/Keychain/KeychainAccessAdapterTests.swift
  ios/PolkadotVaultTests/Core/Navigation/NavigationCoordinatorTests.swift
  ios/PolkadotVaultTests/Core/PasswordProtectionStatePublisherTests.swift
  ios/PolkadotVaultTests/Core/Runtime/RuntimePropertiesProviderTests.swift
Labels: ios

#2197 feat: Android misc improvements
  android/src/main/java/io/parity/signer/components/base/Buttons.kt
  android/src/main/java/io/parity/signer/components/base/CheckIcon.kt
  android/src/main/java/io/parity/signer/components/base/CloseIcon.kt
  android/src/main/java/io/parity/signer/components/base/KeyIcon.kt
  android/src/main/java/io/parity/signer/components/base/ScanIcon.kt
  android/src/main/java/io/parity/signer/components/base/ScreenHeaderComponents.kt
  android/src/main/java/io/parity/signer/components/base/SettingsIcon.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/CameraCutout.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/CameraView.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/ScanScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/elements/ScanItems.kt
Labels: android

#2202 feat: ios: remove Omni Wallet reference
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
Labels: ios

#2201 chore: ios: abstract Keychain Service and add unit tests
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Core/Keychain/KeychainAccessAdapter.swift
  ios/PolkadotVault/Core/Keychain/KeychainService.swift
  ios/PolkadotVault/Core/Keychain/SeedsMediator.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/StateMediators/AppLaunchMediator.swift
  ios/PolkadotVault/StateMediators/AuthenticatedStateMediator.swift
  ios/PolkadotVaultTests/Core/Connectivity/ConnectivityMonitoringAdapterTests.swift
  ios/PolkadotVaultTests/Core/Keychain/KeychainAccessAdapterTests.swift
  ios/PolkadotVaultTests/Core/Keychain/SeedsMediatorTests.swift
Labels: ios

#2206 feat: ios: update design and flow for derived keys
  ios/PolkadotVault/Modals/Alerts/HorizontalActionsBottomModal.swift
  ios/PolkadotVault/Modals/Alerts/VerticalActionsBottomModal.swift
  ios/PolkadotVault/Modals/Errors/ErrorBottomModal.swift
  ios/PolkadotVault/Resources/en.lproj/Localizable.strings
  ios/PolkadotVault/Screens/Scan/DynamicDerivations/AddDerivedKeysView.swift
Labels: ios

#2204 chore: ios: unify action buttons usage, remove PaginatedScrollView and unused SFSymbols
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Components/Buttons/ActionButton.swift
  ios/PolkadotVault/Components/Buttons/EmptyButton.swift
  ios/PolkadotVault/Components/Buttons/NavbarButton.swift
  ios/PolkadotVault/Components/Buttons/PrimaryButton.swift
  ios/PolkadotVault/Components/Buttons/SecondaryButton.swift
  ios/PolkadotVault/Components/PaginatedScrollView.swift
  ios/PolkadotVault/Design/SFSymbols.swift
  ios/PolkadotVault/Modals/Alerts/HorizontalActionsBottomModal.swift
  ios/PolkadotVault/Modals/Alerts/VerticalActionsBottomModal.swift
  ios/PolkadotVault/Modals/Errors/ErrorBottomModal.swift
  ios/PolkadotVault/Modals/Errors/ErrorBottomModalViewModel.swift
  ios/PolkadotVault/Modals/ExportPrivateKey/ExportPrivateKeyWarningModal.swift
  ios/PolkadotVault/Modals/KeySet/KeyDetailsActionsModal.swift
  ios/PolkadotVault/Modals/KeySet/PublicKeyActionsModal.swift
  ios/PolkadotVault/Modals/NetworkSelection/NetworkSelectionModal.swift
  ios/PolkadotVault/Screens/CreateKey/CreateKeysForNetworks/CreateKeysForNetworksView.swift
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/CreateKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/DerivedKey/CreateKeyNetworkSelectionView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/AddKeySetUpNetworksStepOneView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/AddKeySetUpNetworksStepTwoView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/CreateDerivedKeyConfirmationView.swift
  ios/PolkadotVault/Screens/DerivedKey/Subviews/DerivationMethodsInfoView.swift
  ios/PolkadotVault/Screens/Errors/ApplicationUpdateRequiredView.swift
  ios/PolkadotVault/Screens/Errors/DevicePincodeRequiredView.swift
  ios/PolkadotVault/Screens/Errors/UnlockDeviceView.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetailsView+EmptyState.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/RootKeyDetailsModal.swift
  ios/PolkadotVault/Screens/Logs/Views/LogsMoreActionsModal.swift
  ios/PolkadotVault/Screens/NoKeySets/NoKeySetsView.swift
  ios/PolkadotVault/Screens/Onboarding/Airgap/NoAirgapView.swift
  ios/PolkadotVault/Screens/Onboarding/OnboardingAgreementsView.swift
  ios/PolkadotVault/Screens/Onboarding/OnboardingScreenshotsView.swift
  ios/PolkadotVault/Screens/Onboarding/SetUpNetworks/SetUpNetworksIntroView.swift
  ios/PolkadotVault/Screens/Onboarding/SetUpNetworks/SetUpNetworksStepOneView.swift
  ios/PolkadotVault/Screens/Onboarding/SetUpNetworks/SetUpNetworksStepTwoView.swift
  ios/PolkadotVault/Screens/Scan/AddKeysForNetwork/AddKeysForNetworkModal.swift
  ios/PolkadotVault/Screens/Scan/AddKeysForNetwork/SelectKeySetsForNetworkKeyView.swift
  ios/PolkadotVault/Screens/Scan/DynamicDerivations/AddDerivedKeysView.swift
  ios/PolkadotVault/Screens/Scan/TransactionPreview.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetailsActionModal.swift
  ios/PolkadotVault/Screens/Settings/Subviews/SignSpecs/SignSpecDetailsView.swift
Labels: ios
