Repository novasamatech/parity-signer, pull requests merged in 2024-01, with the labels that each got.

#2250 fix: Android reliability
  android/src/main/java/io/parity/signer/domain/backend/UniffiInteractor.kt
  android/src/main/java/io/parity/signer/domain/usecases/AllNetworksUseCase.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeysetBackupStepSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeysetNameViewModel.kt
Labels: android

#2251 chore: ios: dependencies update and cleanup
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  ios/PolkadotVault/Core/AppDelegate.swift
  ios/PolkadotVault/Core/Runtime/RuntimePropertiesProvider.swift
  ios/PolkadotVault/Screens/DerivedKey/CreateKeyNetworkSelectionView.swift
  ios/PolkadotVault/Screens/Scan/Services/CameraService.swift
  ios/fastlane/lanes/lane_build.rb
  ios/fastlane/lanes/lane_tests.rb
Labels: ios

#2268 fix: ios: Wipe All does not update main view
  ios/PolkadotVault/Core/Keychain/SeedsMediator.swift
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVaultTests/Core/Keychain/SeedsMediatorTests.swift
Labels: ios, bug

#2257 feat: Android version check
  android/src/main/java/io/parity/signer/domain/DateUtils.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/osversion/ErrorWrongUpdateScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/osversion/OutdatedOsVersionViewModel.kt
  android/src/main/java/io/parity/signer/screens/initial/firstTimeOnly/FirstTimeOnly.kt
  android/src/main/java/io/parity/signer/screens/initial/splash/SplashScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/splash/SplashScreenViewModel.kt
  android/src/main/java/io/parity/signer/screens/initial/termsconsent/OnBoardingViewModel.kt
  android/src/main/java/io/parity/signer/screens/initial/termsconsent/TermsConsentScreen.kt
  android/src/main/java/io/parity/signer/ui/rootnavigation/MainScreensAppFlow.kt
  android/src/main/java/io/parity/signer/ui/rootnavigation/RootNavigationGraph.kt
  android/src/main/res/values/strings.xml
  android/src/test/java/io/parity/signer/domain/DateUtilsTest.kt
Labels: android

#2271 chore: ios: update jailbreak detection paths
  ios/PolkadotVault/Core/JailbreakDetectionPublisher.swift
Labels: ios

#2274 feat: ios: bs service
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Backend/Services/BananaSplitService.swift
Labels: ios

#2276 feat: update update android screen copy
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/osversion/OutdatedOsVersionScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/firstTimeOnly/FirstTimeOnly.kt
  android/src/main/res/values/strings.xml
Labels: android

#2277 chore: ios: Add unit tests for network selection settings and details action modal
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault.xcodeproj/xcshareddata/xcschemes/PolkadotVault-Dev.xcscheme
  ios/PolkadotVault.xcodeproj/xcshareddata/xcschemes/PolkadotVault-QA.xcscheme
  ios/PolkadotVault.xcodeproj/xcshareddata/xcschemes/PolkadotVault.xcscheme
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSelectionSettings.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetails.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Networks/NetworkSettingsDetailsActionModal.swift
  ios/PolkadotVaultTests/Models+Generate/MAddressCard+Generate.swift
  ios/PolkadotVaultTests/Models+Generate/MKeyDetails+Generate.swift
  ios/PolkadotVaultTests/Models+Generate/MSufficientCryptoReady+Generate.swift
  ios/PolkadotVaultTests/Screens/Settings/Subview/NetworkSelectionSettings/NetworkSelectionSettingsViewModelTests.swift
  ios/PolkadotVaultTests/Screens/Settings/Subview/NetworkSelectionSettings/NetworkSettingDetailsActionModalViewModelTests.swift
Labels: ios

#2289 chore: ios: Add unit tests for network setting details, verifier certificate, sign specs list
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Screens/Settings/Subviews/SignSpecs/SignSpecsListView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/VerifierCertificate/VerifierCertificateView.swift
  ios/PolkadotVaultTests/Screens/Settings/Subview/NetworkSelectionSettings/NetworkSettingDetailsViewModelTests.swift
  ios/PolkadotVaultTests/Screens/Settings/Subview/SignSpecs/SignSpecsListViewModelTests.swift
  ios/PolkadotVaultTests/Screens/Settings/Subview/VerifierCertificate/VerifierCertificateViewModelTests.swift
Labels: ios

#2283 feat: migration togs to Timber so we won't post logs in release app
  android/build.gradle
  android/src/main/java/io/parity/signer/PolkadotVaultApp.kt
  android/src/main/java/io/parity/signer/domain/Helpers.kt
  android/src/main/java/io/parity/signer/domain/MainFlowViewModel.kt
  android/src/main/java/io/parity/signer/domain/Navigation.kt
  android/src/main/java/io/parity/signer/domain/NavigationLogger.kt
  android/src/main/java/io/parity/signer/domain/Utils.kt
  android/src/main/java/io/parity/signer/domain/storage/SeedRepository.kt
  android/src/main/java/io/parity/signer/domain/storage/SeedStorage.kt
  android/src/main/java/io/parity/signer/screens/createderivation/DerivationCreateViewModel.kt
  android/src/main/java/io/parity/signer/screens/initial/UnlockScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/screenlock/SetScreenLockScreen.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsViewModel.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeysetNameScreen.kt
  android/src/main/java/io/parity/signer/screens/keysets/restore/keysetname/KeysetRecoverNameScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/ScanViewModel.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/CameraView.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/CameraViewModel.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/LogsViewModel.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/comment/AddLogCommentScreen.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logdetails/LogDetails.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logdetails/LogsDetailsViewModel.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logslist/LogsMenu.kt
  android/src/main/java/io/parity/signer/screens/settings/logs/logslist/LogsScreenFull.kt
  android/src/main/java/io/parity/signer/screens/settings/networks/signspecs/SignSpecsViewModel.kt
  android/src/main/java/io/parity/signer/ui/rootnavigation/MainScreensAppFlow.kt
Labels: android

#2258 feat: adding logic to check usb and adb connection
  android/src/main/java/io/parity/signer/domain/FeatureFlags.kt
  android/src/main/java/io/parity/signer/domain/NetworkExposedStateKeeper.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/airgap/AirGapViewModel.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/airgap/AirgapScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/camera/CameraViewModel.kt
  android/src/main/java/io/parity/signer/ui/rootnavigation/MainScreensAppFlow.kt
  android/src/main/res/values/strings.xml
Labels: android

#2296 chore: ios: add unit test coverage and relevant refactor for jailbreak detection and cancel bag
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Core/JailbreakDetectionPublisher.swift
  ios/PolkadotVault/Helpers/ProcessInfoProtocol.swift
  ios/PolkadotVault/Helpers/URLOpening.swift
  ios/PolkadotVaultTests/Core/JailbreakDetectionPublisherTests.swift
  ios/PolkadotVaultTests/Helpers/CancelBagTests.swift
Labels: ios

#2299 chore: ios: update to SwiftFormat 0.53.0
  ios/.swiftformat
  ios/Packages/Blockies/Sources/Blockies/BlockiesImageRenderer.swift
  ios/Packages/Blockies/Sources/Blockies/Helpers/PlatformColor.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Drawing/Graphics.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Drawing/IconGenerator.swift
  ios/Packages/Jdenticon/Sources/Jdenticon/Drawing/Shapes.swift
  ios/Packages/PolkadotIdenticon/Sources/PolkadotIdenticon/Helpers/IdenticonColorsGenerator.swift
  ios/Packages/PolkadotIdenticon/Sources/PolkadotIdenticon/Models/Color.swift
  ios/Packages/PolkadotIdenticon/Sources/PolkadotIdenticon/Public/PolkadotIdenticonView.swift
  ios/PolkadotVault/Backend/Services/CreateDerivedKeyService.swift
  ios/PolkadotVault/Core/ServiceLocator.swift
  ios/PolkadotVault/RustDataExtensions/Verifier+Show.swift
  ios/PolkadotVault/Screens/Containers/AuthenticatedScreenContainer.swift
  ios/PolkadotVault/Screens/KeyDetails/ExportKeys/ExportKeysSelectionModal.swift
  ios/PolkadotVault/Screens/KeyDetails/Views/KeyDetails+ViewModel.swift
  ios/PolkadotVault/Screens/Logs/Models/LogEntryRenderable.swift
  ios/PolkadotVault/Screens/Scan/CameraView.swift
  ios/PolkadotVault/Screens/Scan/Models/TransactionSummaryModels.swift
Labels: ios

#2303 chore: ios: Add unit tests for Sign Specs and Settings Backup Modal
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Screens/Settings/Subviews/Backup/BackupSelectKeyView.swift
  ios/PolkadotVault/Screens/Settings/Subviews/Backup/SettingsBackupModal.swift
  ios/PolkadotVaultTests/Screens/Settings/Subview/Backup/SettingsBackupModalViewModelTests.swift
  ios/PolkadotVaultTests/Screens/Settings/Subview/SignSpecs/SignSpecDetailsViewModelTests.swift
  ios/PolkadotVaultTests/Screens/Settings/Subview/SignSpecs/SignSpecEnterPasswordModalViewModelTests.swift
Labels: ios

#2308 chore: ios: test coverage for log list / details view models
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Core/Authentication/DevicePasscodeAuthenticator.swift
  ios/PolkadotVault/Screens/Logs/Models/LogEntryRenderable.swift
  ios/PolkadotVault/Screens/Logs/Views/LogNoteModal.swift
  ios/PolkadotVault/Screens/Logs/Views/LogsListView.swift
  ios/PolkadotVaultTests/Models+Generate/MLog+Generate.swift
  ios/PolkadotVaultTests/Models+Generate/MTransactionCardSet+Generate.swift
  ios/PolkadotVaultTests/Screens/Logs/LogNoteModalViewModelTests.swift
  ios/PolkadotVaultTests/Screens/Logs/LogsListViewModelTests.swift
Labels: ios

#2302 feat: Android add seed handle and show proper errors
  android/src/main/java/io/parity/signer/domain/backend/UniffiInteractor.kt
  android/src/main/java/io/parity/signer/domain/storage/SeedRepository.kt
  android/src/main/java/io/parity/signer/domain/usecases/CreateKeySetUseCase.kt
  android/src/main/java/io/parity/signer/screens/error/ErrorStateDestination.kt
  android/src/main/java/io/parity/signer/screens/error/ErrorStateMessageCreation.kt
  android/src/main/java/io/parity/signer/screens/error/ErrorStateScreenGeneral.kt
  android/src/main/java/io/parity/signer/screens/keysetdetails/KeySetDetailsScreenSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/NewKeysetBackupStepSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/backupstepscreens/NewKeySetNetworksViewModel.kt
  android/src/main/java/io/parity/signer/screens/keysets/create/backupstepscreens/NewKeysetSelectNetworkScreen.kt
  android/src/main/java/io/parity/signer/screens/keysets/restore/KeysetRecoverSubgraph.kt
  android/src/main/java/io/parity/signer/screens/keysets/restore/restorephrase/RecoverKeysetSelectNetworkRestoreFlowFullScreen.kt
  android/src/main/java/io/parity/signer/screens/scan/bananasplit/BananaSplitViewModel.kt
Labels: android

#2314 chore: ios: Create keys / key set unit tests
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Components/WrappingHStack.swift
  ios/PolkadotVault/Screens/CreateKey/CreateKeysForNetworks/CreateKeysForNetworksView.swift
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/CreateKeySetSeedPhraseView.swift
  ios/PolkadotVault/Screens/CreateKey/NewKeySet/EnterKeySetNameView.swift
  ios/PolkadotVaultTests/Models+Generate/MNewSeedBackup+Generate.swift
  ios/PolkadotVaultTests/Screens/CreateKey/CreateKeysForNetwork/CreateKeysForNetworksViewModelTests.swift
  ios/PolkadotVaultTests/Screens/CreateKey/NewKeySet/CreateKeySetSeedPhraseViewModelTests.swift
  ios/PolkadotVaultTests/Screens/CreateKey/NewKeySet/EnterKeySetNameViewModelTests.swift
Labels: ios

#2316 fix: android fixing issue that just device credential was not supported...
  android/src/main/java/io/parity/signer/domain/Authentication.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/EachStartSubgraphScreen.kt
  android/src/main/java/io/parity/signer/screens/initial/eachstartchecks/EachStartViewModel.kt
Labels: android

#2317 chore: ios: Unit tests for recover key set and no key sets
  ios/PolkadotVault.xcodeproj/project.pbxproj
  ios/PolkadotVault/Screens/CreateKey/RecoverKeySet/RecoverKeySetSeedPhraseView.swift
  ios/PolkadotVaultTests/Screens/CreateKey/RecoverKeySet/RecoverKeySetNameViewModelTests.swift
  ios/PolkadotVaultTests/Screens/CreateKey/RecoverKeySet/RecoverKeySetSeedPhraseViewModelTests.swift
  ios/PolkadotVaultTests/Screens/NoKeySets/NoKeySetsViewModelTests.swift
Labels: ios

#2318 feat: releasing android 6.3.1
  android/build.gradle
Labels: android
